<?
$this->headTitle('Manage Asset Types');
?>
<div class="buttons well">
	<?=$this->button(array(
		'type'		=> 'link',
		'class'		=> 'large success',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
		'icon'		=> 'add',
		'text'		=> 'Add Asset Type',
	)) ?>
</div>

<table class="table table-striped">
    <colgroup>
    <col width="25%" />
    <col width="25%" />
    <col width="35%" />
    <col width="15%" />
    </colgroup>
    <tbody>
	<? foreach($this->all_records as $record): ?>
	    <tr>
		    <td align="center">
	            <?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'money',
					'href'		=> $this->route(array('module' => 'admin', 'controller' => 'assetcosts', 'action' => 'index', 'assettype_id' => $record->id)),
					'text'		=> 'Costs',
				)) ?>
	            <?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'pencil',
					'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id)),
					'text'		=> 'Edit',
				)) ?>
	            <?=$this->button(array(
					'type'		=> 'small',
					'icon'		=> 'delete',
					'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
					'class'     => 'confirm-delete negative',
					'text'		=> 'Delete',
				)) ?>
		    </td>
		    <td align="left"><?=$record->name; ?></td>
		    <td align="left"><?=$record->description; ?></td>
		    <td align="left"><?=$record->occupancy_model->description; ?></td>
	    </tr>
	<? endforeach; ?>
	</tbody>
</table>

