/**
 * Printable stylesheet
 */

body,html,#page_wrapper,#page {
    background: #FFF;
    font-size: 12pt;
}

.container_12 .grid_12,
.container_16 .grid_16 {
	float: none;
}

#print_header {
	display: block;
}
#print_header h1 {
    font-size: 30px;
    padding: 10px 10px 5px 10px;
}

#header, #footer {
    display: none;
}

div.buttons, div.smallbuttons, .ui-button {
    display: none;
}