<h2>Roommate Request</h2>

<p>Congratulations! You have been invited to become a roommate in University Apartments.</p>

<p>The invitation was created by <?php echo $this->requester_name; ?> for apartment <?php echo $this->asset_name; ?>.</p>

<p>In order to accept this invitation, please visit the following link:<br/>
<?php echo $this->activation_link; ?>
</p>