<h2>Apartments Application Offer</h2>

<p><?php echo $this->resident->getNameFirstLast(); ?> (UIN: <?php echo $this->resident->uin; ?>),</p>

<?
$block_vars = array(
    'move_in_month'     => date('F', $this->move_in_date),
    'move_in_date'      => date('F d', $this->move_in_date),
    'apartment_type'    => $this->asset->AssetType->description,
    'deadline'          => date('F d, Y', $this->response_deadline),
);
if ($this->move_out_date > 0)
{
    echo \Entity\Block::render('message_apply_offer_bounded', $block_vars);
}
else
{
    echo \Entity\Block::render('message_apply_offer', $block_vars);
}

?>

<?=\Entity\Block::render('message_apply_footer') ?>