<?
$this->headTitle('Move-in Appointments: Gardens Phase II');

$start_time = $this->start_time;
$end_time = $this->end_time;
$appointments = $this->appointments;
$dates = $this->dates;
$day_mode = ($this->mode == 'day') ? true : false;
?>
<?php if ($day_mode): ?>
&laquo; <a href="<?php echo \DF\Url::route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'moveincalendar')); ?>" title="Back to week view">Back to week view</a>
<h2>Appointments for <?php echo date('M j, Y', $dates[0]); ?></h2>
<?php else: ?>
<p>Click date header for single-day view</p>
<?php endif; ?>
<table class="datatable zebra" style="text-align:center;">
    <tr>
        <th width="15%">Time</th>
        <?php foreach($dates as $date): ?>
        <th>
            <?php if (!$day_mode): ?>
            <a href="<?php echo \DF\Url::routeFromHere(array('date' => $date, 'view' => 'day')); ?>" title="Day View">
            <?php endif; ?>
            <?php echo date('m/d/Y', $date); ?>
            <?php if (!$day_mode): ?>
            </a>
            <?php endif; ?>
        </th>
        <?php endforeach; ?>
    </tr>
<?php while($start_time < $end_time): ?>
    <?php
    if (substr($start_time, -2) == '30')
        $slot_end_time = $start_time + 70; 
    else
        $slot_end_time = $start_time + 30;
    ?>
    <tr>
        <td><?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> &ndash; <?php echo date('g:ia', strtotime(str_pad($slot_end_time, 4, '0', STR_PAD_LEFT))); ?></td>
        <?php if ($start_time != 1200 && $start_time != 1230): ?>
        <?php foreach($dates as $date): ?>
        <td>
        <?php if (!empty($appointments[(string)$date][str_pad($start_time, 4, '0', STR_PAD_LEFT)])): ?>
            <?php foreach($appointments[(string)$date][str_pad($start_time, 4, '0', STR_PAD_LEFT)] as $appt): ?>
            <div class="appt<?php if ($appt->movein) echo ' movein'; ?><?php if ($appt->noshow_log > 0) echo ' noshow'; ?>">
                <?php
                if ($appt->resident->id)
                {
                    $name_string = ($day_mode) ? $appt->resident->getNameLastFirst() : $appt->resident->surname.',&nbsp;'.substr($appt->resident->first_name, 0, 1);
                    if (trim($appt->resident->middle_name) != '') $name_string .= ($day_mode) ? '&nbsp;'.substr($appt->resident->middle_name, 0, 1) : '&nbsp;'.$appt->resident->middle_name;
                    echo '<a href="'.$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $appt->resident->id)).'" title="View Resident">'.$name_string.'</a>';
                    if ($this->mode != 'day') echo '<br/>';
                    if ($appt->occupancy->id) echo '<a href="'.$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'view', 'id' => $appt->occupancy->asset->id)).'">'.$appt->occupancy->asset->name.'</a>';
                    if ($this->mode != 'day')
                        echo '<span class="btn">';
                    else
                        echo '<span class="btn_day">';
                    if ($appt->noshow_log > 0)
                    {
                        echo '<a class="delete-button confirm-delete" href="'.$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'undonoshow', 'id' => $appt->id, 'csrf' => $csrf)).'" title="Unflag no-show">'.
                        'unflag'.
                        '</a>';
                    }
                    else
                    {
                        echo '<a class="delete-button confirm-delete" href="'.$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'noshow', 'id' => $appt->id, 'csrf' => $csrf)).'" title="Flag as no-show">'.
                        'no show'.
                        '</a>';
                    }
                    echo '<br/><a class="btn_change_appt" id="' . $appt->id.'-'.date('m/d/Y',$appt->date).'-'.$appt->slot . '" href="'.$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'reschedule', 'id' => $appt->id, 'csrf' => $csrf)).'" title="Reschedule appointment">'.
                        'reschedule'.
                        '</a>';
                    echo '</span>';
                }
                ?>
            </div>
            <?php endforeach; ?>
            <?php endif; ?>
            
        </td>
        <?php endforeach; ?>
        <?php else: ?>
        <td colspan="<?php echo count($dates); ?>" style="background:#ccc;">NO APPOINTMENTS</td>
        <?php endif; ?>
    </tr>
    <?php
    if (substr($start_time, -2) == '30')
        $start_time += 70; 
    else
        $start_time += 30;
    ?>
<?php endwhile; ?>
</table>

<div id="dialog_change_appointment">
    <form id="frm_change_appointment" action="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'reschedule')) ?>" method="post">
        <input type="hidden" id="id" name="id" value="0" />
    <dl>
        <dt>Reschedule appointment:</dt>
        <dd><input type="text" id="date" name="date" value="0" class="datepicker" /></dd>
        <dd>
            <select id="slot" name="slot">
                <?php $start_time = $this->start_time; ?>
                <?php while($start_time < $end_time): ?>
                <?php
                if (substr($start_time, -2) == '30')
                    $slot_end_time = $start_time + 70; 
                else
                    $slot_end_time = $start_time + 30;
                ?>
                <?php if ($start_time != 1200 && $start_time != 1230): ?>
                <option value ="<?php echo str_pad($start_time, 4, '0', STR_PAD_LEFT); ?>"><?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> &ndash; <?php echo date('g:ia', strtotime(str_pad($slot_end_time, 4, '0', STR_PAD_LEFT))); ?></option>
                <?php endif; ?>
                <?php
                if (substr($start_time, -2) == '30')
                    $start_time += 70; 
                else
                    $start_time += 30;
                ?>
                <?php endwhile; ?>
            </select>
        </dd>
    </dl>
    </form>
</div>

<style>
.appt {
    position: relative;
    background: #D5FFD5;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 1px;
}
.appt .icon {
    position: absolute;
    top: 1px;
    right: 1px;
}
.movein {
    background: #fdf5ce;
}
.noshow {
    background: #F99;
    border: 1px solid red;
}
.btn_add_appt {
    float: left;
}
.date_nav {
    margin-bottom: 1em;
}
.date_nav .nav_next {
    float: right;
}
.btn_day a {
    display: inline-block;
    float: right;
    padding: 0 .5em;
    border-left: 1px solid #ccc;
}
.btn_day br {
    display: none;
}
.appt .btn {
    display: none;
}
.appt:hover .btn {
    display: block;
    position: absolute;
    left: 100%;
    top: -1px;
    height: 100%;
    background: #fdf5ce;
    padding: 0 .5em;
    border: 1px solid #ccc;
}
</style>

<?php $this->headScript()->captureStart() ?>

$(document).ready(function(){

    $('#dialog_change_appointment').dialog({
        title: 'Change Appointment',
        width: 400,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });

    $('a.btn_change_appt').click(function() {
        var id_parts = $(this).attr('id').split('-');
        var appt_id = id_parts[0];
        var date = id_parts[1];
        var slot = id_parts[2];
        $("#frm_change_appointment input[name='id']").val(appt_id);
        $("#frm_change_appointment input[name='date']").val(date);
        $("#frm_change_appointment select[name='slot']").val(slot);
        $('#dialog_change_appointment').dialog('open');
        return false;
    });
});

<?php $this->headScript()->captureEnd() ?>