<?
$this->headTitle('View Upcoming Move-outs');
$csrf = \DF\Csrf::getToken();
$edit = \DF\Acl::getInstance()->isAllowed('assign move-out dates');
?>

<form action="<?=\DF\Url::current() ?>" method="get">
    <fieldset style="width:45%;float:left;margin:1em;">
        <legend>Search by Resident Name or UIN:</legend>
        <dl>
	<dt>Search terms:</dt>
        <dd><input type="text" name="searchterms" class="full-width big" <? if ($this->searchterms): ?>value="<?=$this->searchterms ?>"<? endif; ?> /></dd>
        </dl>

        <div class="buttons">
                <?=$this->button(array(
                'type'		=> 'submit',
                'icon'		=> 'find',
                'text'		=> 'Search Move-out Requests',
            )) ?>
        </div>
    </fieldset>
</form>
<fieldset style="width:45%;float:left;margin:1em;">
    <legend>Filter by Date</legend>
    <?php echo $this->filter_form->render(); ?>
</fieldset>
<br class="clear"/>
<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>View All Move-out Requests</h2>
<? endif; ?>

<?=$this->paginate($this->pager) ?>

<? $this->zebra('reset'); ?>
<table class="datatable">
    <tr>
        <?php if ($edit): ?><th>Actions</th><?php endif; ?>
        <th>Resident Name</th>
        <th>UIN</th>
        <th>Apartment</th>
        <th>Occupancy Start</th>
        <th>Desired Move-out</th>
        <th>Occupancy End</th>
        <th>Form Received</th>
        <th>Walkthrough</th>
    </tr>
<? foreach($this->pager as $record): ?>
    <tr class="<?=$this->zebra() ?>">
        <?php if ($edit): ?>
        <td>
            <?=$this->button(array(
                'type'  => 'small',
                'icon' => 'pencil',
                'href'  => $this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'edit', 'id' => $record['id'], 'origin' => 'moveout')),
                'text'  => 'Edit',
            ));?>
        </td>
        <?php endif; ?>
        <td><a href="<?php echo \DF\Url::route(array('module'=>'management','controller'=>'residents','action'=>'view','id'=>$record['Resident']['id'])); ?>" title="View resident"><?=$record['Resident']['surname'] ?>, <?=$record['Resident']['first_name'] ?> <?=$record['Resident']['middle_name'] ?></a></td>
    	<td><?=$record['Resident']['uin'] ?></td>
        <td><a href="<?php echo \DF\Url::route(array('module'=>'management','controller'=>'apartments','action'=>'view','id'=>$record['Asset']['id'])); ?>" title="View resident"><?=$record['Asset']['name'] ?></a></td>
        <td><?=$this->dateOrDefault($record['start_date']) ?></td>
        <td><?=$this->dateOrDefault($record['moveoutdate']) ?></td>
        <td><?=$this->dateOrDefault($record['end_date']) ?></td>
        <td><?=$this->dateOrDefault($record['moveout_form_received']) ?></td>
        <td>
            <?php
            if ($record['skip_walkthrough'] == 1)
            {
                echo 'Opted-out';
            }
            else
            {
                $appt_date = $record['MoveoutAppointment'][0]['date'];
                if ($appt_date > 0)
                {
                    echo '<a href="'.$this->routeFromHere(array('action' => 'walkthrough', 'date' => $appt_date)).'">'.
                            $this->dateOrDefault($appt_date).'</a>';
                }
                else
                {
                    echo 'Unscheduled';
                }
            }
            ?>
        </td>
    </tr>
<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>