<?
$this->headTitle('Maintenance Workorders Completed by Month');
?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="9%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
    </colgroup>
    <thead>
        <tr>
            <th>Category</th>
        <? foreach($this->months as $month_code => $month_info): ?>
            <th><?=$month_info['name'] ?></th>
        <? endforeach; ?>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->categories as $category_name): ?>
        <tr>
            <td align="left"><?=$category_name ?></td>
        <? foreach($this->months as $month_code => $month_info): ?>
            <td align="center"><span <? if ($month_code == "total"): ?>style="font-weight: bold;"<? endif; ?>><?=$month_info['totals'][$category_name] ?></span></td>
        <? endforeach; ?>
        </tr>
    <? endforeach; ?>
    </tbody>
    <tfoot>
        <tr>
            <td align="left"><b>Total</b></td>
        <? foreach($this->months as $month_code => $month_info): ?>
            <td align="center"><b><?=$month_info['total'] ?></b></td>
        <? endforeach; ?>
        </tr>
    </tfoot>
</table>