<?
$this->headTitle('Maintenance Request');
?>

<h1>Maintenance Request</h1>

<p>Complete the details below to submit a maintenance request form.</p>

<form action="<?=NCE_THIS_PAGE ?>" method="post">

<dl>
	<dt>Apartment Number:</dt>
    <dd><?=$this->formSelect('data[apartment_number]', NULL, NULL, $this->apartments) ?></dd>
        
    <dt>Location in Apartment:</dt>
    <dd><input type="text" name="data[location]" class="full-width" /></dd>
    
    <dt>Description of Issue:</dt>
    <dd><textarea name="data[description]" class="full-width half-height"></textarea></dd>
    
    <dt>Requester Name:</dt>
    <dd><input type="text" name="data[requester_name]" class="full-width" /></dd>
    
    <dt>Requester Phone:</dt>
    <dd><input type="text" name="data[requester_phone]" class="full-width" /></dd>
    
    <dt>Requester E-mail Address:</dt>
    <dd><input type="text" name="data[requester_email]" class="full-width" /></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'resultset_next',
		'text'		=> 'Submit Request',
	)) ?>
</div>
</form>
