<?
$this->headTitle('Apply Online!');
?>

<?=\Entity\Block::render('application_intro_text') ?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'href'      => $this->routeFromHere(array('controller' => 'form', 'action' => 'index')),
        'icon'      => 'resultset_next',
        'text'      => 'Continue',
    )) ?>
</div>

<style>
    table {
	border: 1px solid #000;
	border-collapse: collapse;
    }
    table th {
	background: #ccc;
	border: 1px solid #000;
    }
    table td {
	border: 1px solid #000;
    }
</style>