<?php
$this->headTitle('Manage Cleaning Charges');
?>

<h2>Create/Edit Cleaning Charge</h2>

<?=$this->form->render() ?>

<script type="text/javascript">
$(function() {
	$('input.cleaning_area_input').each(function() {
		var dd = $(this).closest('dd');
		dd.prev('dt').andSelf().wrapAll('<div class="cleaning_area_wrapper" />');
	});
	$('div.cleaning_area_wrapper:last').after('<div class="clear" />');

	calcTotal();
	$('input.cleaning_area_input').change(function() { calcTotal(); });
});

function calcTotal()
{
	var total = 0;

	$('input.cleaning_area_input').each(function() {
		var current = parseInt($(this).val());

		if (!isNaN(current))
		{
			total += current;
		}
	});

	$('input#charge_data-total_hours').val(total);
}
</script>

<style type="text/css">
.cleaning_area_wrapper {
	width: 200px;
	float: left;
}
</style>