<?php
$this->headTitle('Manage Cleaning Charges');
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'icon'		=> 'add',
		'text'		=> 'Post New Charge',
		'href'		=> $this->routeFromHere(array('action' => 'edit')),
	)) ?>
</div>

<h2>Existing Charges</h2>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra">
	<colgroup>
		<col width="20%" />
		<col width="20%" />
		<col width="5%" />
		<col width="25%" />
		<col width="15%" />
		<col width="15%" />
	</colgroup>
	<thead>
		<tr>
			<th>Actions</th>
			<th>Apartment</th>
			<th>Status</th>
			<th>Assigned To</th>
			<th>Assigned</th>
			<th>Completed</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->pager as $record): ?>
		<tr>
			<td align="center">
			<? if ($record->status == CleaningCharge::STATUS_PENDING): ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'pencil',
						'text'		=> 'Edit',
						'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id))
					)) ?>
				<? if (\DF\Acl::getInstance()->isAllowed('review cleaning charges')): ?>
					<?=$this->button(array(
						'type'		=> 'small',
						'icon'		=> 'magnifier',
						'text'		=> 'Review',
						'href'		=> $this->routeFromHere(array('action' => 'review', 'id' => $record->id)),
					)) ?>
				<? endif; ?>
			<? endif; ?>
			</td>
			<td align="left"><?=$record->asset->name ?></td>
			<td align="center">
			<? if ($record->status == CleaningCharge::STATUS_APPROVED): ?>
				<?=$this->icon(array(
					'type'		=> 'png32',
					'image'		=> 'tick',
					'title'		=> 'Approved',
				)) ?>
			<? elseif ($record->status == CleaningCharge::STATUS_DECLINED): ?>
				<?=$this->icon(array(
					'type'		=> 'png32',
					'image'		=> 'cross',
					'title'		=> 'Declined',
				)) ?>
			<? else: ?>
				<?=$this->icon(array(
					'type'		=> 'png32',
					'image'		=> 'error',
					'title'		=> 'Pending Review',
				)) ?>
			<? endif; ?>
			</td>
			<td align="left"><?=$record->worker ?></td>
			<td align="center"><? if ($record->time_assigned): ?><?=date('m/d/Y g:ia', $record->time_assigned) ?><? else: ?>N/A<? endif; ?></td>
			<td align="center"><? if ($record->time_completed): ?><?=date('m/d/Y g:ia', $record->time_completed) ?><? else: ?>N/A<? endif; ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>

<?=$this->paginate($this->pager) ?>