<?php
$this->headTitle('Manage Cleaning Charges');

$buttons = array();
$buttons[] = $this->button(array(
	'type'		=> 'link',
	'icon'		=> 'tick',
	'class'		=> 'positive confirm-action',
	'href'		=> $this->routeFromHere(array('status' => CleaningCharge::STATUS_APPROVED)),
	'text'		=> 'Approve Charge',
));
$buttons[] = $this->button(array(
	'type'		=> 'link',
	'icon'		=> 'cross',
	'class'		=> 'negative confirm-action',
	'href'		=> $this->routeFromHere(array('status' => CleaningCharge::STATUS_DECLINED)),
	'text'		=> 'Decline Charge',
));
?>

<h2>Review Cleaning Charge</h2>

<div class="buttons"><?=implode('', $buttons) ?></div>

<?=$this->form->renderView() ?>

<div class="buttons"><?=implode('', $buttons) ?></div>

<script type="text/javascript">
$(function() {
	$('dd:empty').prev('dt').andSelf().hide();
});
</script>