<?
$this->headTitle('Manage Apartments');
$edit = \DF\Acl::getInstance()->isAllowed('manage apartments');
?>

<div class="buttons well">
<?php if ($edit): ?>
<?=$this->button(array(
	'type'		=> 'link',
	'icon'		=> 'add',
    'class'     => 'large success',
	'text'		=> 'Add Apartment',
	'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => 0)),
)) ?>
<?php endif; ?>
</div>

<ul class="nav nav-tabs autoselect" rel="<?=$this->complex_id ?>">
<? foreach($this->complexes as $complex_id => $complex): ?>
    <li rel="<?=$complex_id ?>"><a href="<?=$this->routeFromHere(array('parent_asset' => $complex_id)) ?>"><?=$complex ?></a></li>
<? endforeach; ?>
</ul>

<? if ($this->complex_id): ?>
    <h3>Apartments in <?=$this->complex ?></h3>
    <div class="tabbable" id="complex_<?=$this->complex_id ?>_buildings">
        <ul class="nav nav-pills">
        <? foreach($this->buildings as $building_key => $building_info): ?>
            <li><a href="#complex_<?=$this->complex_id ?>_<?=$building_key ?>" data-toggle="tab"><?=$building_info['name'] ?></a></li>
        <? endforeach; ?>
        </ul>

        <div class="tab-content">
        <? foreach($this->buildings as $building_key => $building_info): ?>
            <div class="tab-pane" id="complex_<?=$this->complex_id ?>_<?=$building_key ?>">
                <table class="table" width="100%">
                    <colgroup>
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="15%" />
                        <col width="20%" />
                        <col width="15%" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th>Type</th>
                            <th>Cost</th>
                            <th>Residents</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                    <? foreach($building_info['apts'] as $asset_id => $asset): ?>
                        <tr>
                            <td align="left"><big><a href="<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'view', 'id' => $asset_id)) ?>"><?=$asset['name'] ?></a></big></td>
                            <td align="left"><?=$asset['status'] ?></td>
                            <td align="left"><?=$asset['type'] ?></td>
                            <td align="left">$<?=number_format($asset['cost'], 2) ?></td>
                            <td align="left">
                            <? foreach((array)$asset['residents'] as $resident): ?>
                                <div><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $resident['id'])) ?>"><?=$resident['first_name'] ?> <?=$resident['surname'] ?></a> (<?=$resident['uin'] ?>)</div>
                            <? endforeach; ?>
                            </td>
                            <td align="left"><?=$asset['notes'] ?></td>
                        </tr>
                    <? endforeach; ?>
                    </tbody>
                </table>
            </div>
        <? endforeach; ?>
        </div>
    </div>

    <div class="smallbuttons" style="margin-top: 5px;">
        <?=$this->button(array(
            'type'      => 'small',
            'icon'      => 'vcard',
            'text'      => 'View Building Record',
            'href'      => $this->route(array(
                'module' => 'management',
                'controller' => 'apartments',
                'action' => 'view',
                'id' => $this->complex_id,
            )),
        )) ?>
    </div>
</div>
<? endif; ?>