<?
$this->headTitle('Vacant Apartments');
?>

<div id="accordion">
<? $i = 0; ?>
<? foreach($this->vacant as $month => $assets): ?>
	<? $i++; ?>
	<h3><a href="#month_<?=$i ?>"><?=($month == 'now' ? 'Now' : date('M Y', strtotime($month))) ?> (<?=count($assets) ?>)</a></h3>
	<div id="month_<?=$i ?>">
		<? $this->zebra('reset') ?>
		<table class="datatable vacancy_table" id="table_<?=date('Ym', strtotime($month)) ?>" width="100%">
			<colgroup>
				<col width="20%"/>
				<col width="30%"/>
				<col width="30%"/>
				<col width="20%"/>
			</colgroup>
			<thead>
				<tr>
					<th>Cost</th>
					<th>Apt. Name</th>
					<th>Apt. Type</th>
					<th>Notes</th>
				</tr>
			</thead>
			<tbody>
			<? foreach($assets as $asset): ?>
				<tr class="<?=$this->zebra() ?> input">
					<td align="right">$<?=number_format($asset->getCost(), 2) ?></td>
					<td><big><?=$asset->name ?></big></td>
					<td><?=$asset->assetType->description ?></td>
					<td><?=$asset->notes ?></td>
				</tr>
			<? endforeach; ?>
			</tbody>
		</table>
	</div>
<? endforeach; ?>
</div>

<script type="text/javascript">
$(function() {
	$('#accordion').accordion({
		active: 0,
		autoHeight: false,
		collapsible: true
	});
    
    $('table.vacancy_table').addClass('tablesorter').tablesorter({
        widgets: ['zebra']
    });
});
</script>