<?
$this->headTitle('Post New Transaction');
?>

<h2>Choose Resident and Transaction Type</h2>

<form action="<?=\DF\Url::current() ?>" method="get">
<dl>
    <dt>Resident:</dt>
    <dd><?=$this->formSelect('resident_id', NULL, NULL, $this->residents) ?></dd>
    
    <dt>Transaction Ledger:</dt>
    <dd><?=$this->formSelect('ledger_id', NULL, NULL, $this->ledger_types) ?></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type' => 'submit',
        'icon' => 'resultset_next',
        'text' => 'Enter Transaction Details',
    )) ?>
</div>
</form>