<?
$this->headTitle('Transaction Receipt');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'printer',
        'text'      => 'Print Page',
        'href'      => 'javascript:window.print()',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'table',
        'text'      => 'Back to Ledger',
        'href'      => $this->routeFromHere(array('action' => 'index', 'id' => $this->resident->id, 'ledger_id' => $this->ledger_id, 'credit_or_debit' => NULL)),
    )) ?>
</div>

<h2>Transaction Details</h2>

<dl>
    <dt>Transaction Reference Number:</dt>
    <dd><?=$this->transaction->reference_number ?></dd>
    
<? if ($this->record['transaction_type']): ?>
    <dt>Transaction Type:</dt>
    <dd><?=$this->record['transaction_type'] ?></dd>
<? endif; ?>

    <dt>Resident Name:</dt>
    <dd><?=$this->resident->getNameLastFirst() ?></dd>
    
    <dt>Transaction Date:</dt>
    <dd><? echo date('F j, Y', $this->record['date']); ?></dd>
    
    <dt>Note:</dt>
    <dd><? echo nl2br($this->record['memo']); ?></dd>
    
    <dt>Register ID:</dt>
    <dd><?=$this->record['register_id'] ?></dd>
    
    <? if ($this->record['item_id']): ?>
    <dt>Item:</dt>
    <dd><?
        $item = Item::find($this->record['item_id']);
        echo $item->name;
    ?></dd>
    <? endif; ?>
    
    <? if ($this->record['payment_method_id']): ?>
    <dt>Payment Method:</dt>
    <dd><?
        $payment_method = PaymentMethod::find($this->record['payment_method_id']);
        echo $payment_method->name;
    ?></dd>
    <? endif; ?>
</dl>

<h2>Transaction Details</h2>

<table class="datatable zebra" width="100%">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Item</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->splits as $transaction): ?>
        <tr>
            <td align="right">$<? echo number_format($transaction->split_amount, 2); ?></td>
            <td align="left"><?=$transaction->Item->name ?></td>
        </tr>
    <? endforeach; ?>
        <tr class="blue">
            <td align="right"><b>$<? echo number_format($this->total_amount, 2); ?></b></td>
            <td align="left"><b>Total</b></td>
        </tr>
    </tbody>
</table>