<?
$this->headTitle('View Asset History: '.$this->resident->getNameFirstLast());
?>

<?=$this->paginate($this->pager) ?>

<? $this->zebra('reset'); ?>
<table class="datatable">
    <tr>
        <th>Asset Name</th>
        <th>Asset Description</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Move-out Reason</th>
    </tr>
<? foreach($this->pager as $record): ?>
    <tr class="<?=$this->zebra() ?>">
        <td><a href="<?=$this->route(array('module' => 'management', 'controller' => 'apartments', 'action' => 'view', 'id' => $record['asset_id'])) ?>" title="Click to Manage Apartment"><?=$record['Asset']['name'] ?></a></td>
        <td><?=$record['Asset']['description'] ?></td>
        <td><?=(($record['start_date'] != 0) ? date('m/d/Y',$record['start_date']) : '(No Date)') ?></td>
        <td><?=(($record['end_date'] != 0) ? date('m/d/Y',$record['end_date']) : '(No Date)') ?></td>
        <td><?=$record['moveout_reason'] ?></td>
    </tr>
<? endforeach; ?>
</table>

<?=$this->paginate($this->pager) ?>