<?
$this->headtitle('Manage Residents');
$edit = \DF\Acl::getInstance()->isAllowed('manage residents');
?>

<div class="buttons well">
    <?php if ($edit): ?>
	<?=$this->button(array(
		'type'		=> 'link',
        'class'     => 'large success',
		'href'		=> $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'add' )),
		'icon'		=> 'add',
		'text'		=> 'Add New Resident',
	)) ?>
    <?php endif; ?>
</div>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? else: ?>
	<h2>View All Residents</h2>
<? endif; ?>

<form class="form-search" action="<?=$this->routeFromHere(array('searchterms' => NULL, 'page' => 1)) ?>" method="get">
    <input type="text" placeholder="Name, UIN, NetID" name="searchterms" value="<?=$this->searchterms ?>" class="input-medium search-query">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'find',
        'text'      => 'Search Residents',
    )) ?>
</form>

<?=$this->paginate($this->pager) ?>

<?php
$token = \DF\Csrf::getToken();
if (count($this->pager) > 0):
?>
<table class="table table-striped" width="100%">
    <colgroup>
        <col width="10%" />
        <col width="3%" />
        <col width="37%" />
        <col width="15%" />
        <col width="35%" />
    </colgroup>
    <thead>
        <tr>
            <th>Actions</th>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>UIN</th>
            <th>Occupancies</th>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->pager as $resident): ?>
        <tr class="input">
            <td class="center">
            <? if (trim($resident->uin_sub_id) == ''): ?>
                <?=$this->button(array(
                    'type'		=> 'small',
                    'class'     => 'primary',
                    'href'		=> $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $resident->id)),
                    'icon'		=> 'vcard',
                    'text'		=> 'View',
                )) ?>
            <? endif; ?>
            </td>
            <td align="center">
                <? if ($resident->hasNotes()): ?><?=$this->icon('comment') ?><? endif; ?>
            </td>
            <td align="left">
                <?
                if (trim($resident->uin_sub_id) != '')
                {
                    $uin = $resident->uin.'-'.$resident->uin_sub_id;
                    $primary = Resident::getByUin($resident->uin);
                    if ($primary instanceof Resident)
                        $related_to = ' (Related to <a href="'.\DF\Url::route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $primary->id)).'" title="View resident">'.$primary->getNameFirstLast().'</a>)';
                }
                else
                {
                    $uin = $resident->uin;
                    $related_to = '';
                }
                
                echo '<big>'. ($resident->getNameLastFirst() ? $resident->getNameLastFirst() : $resident->email).'</big><br/>'.$resident->type->name.$related_to;
                ?>
            </td>
            <td align="center"><?=$uin ?></td>
            <td align="left">
                <?
                if (count($resident->occupancies) > 0)
                {
                    $occupancies = array();
                    foreach($resident->occupancies as $occ)
                    {
                        $start_date = ((int)$occ['start_date'] == 0) ? 'N/A' : date('m/d/Y', $occ['start_date']);
                        $end_date = ((int)$occ['end_date'] == 0) ? 'Current' : date('m/d/Y', $occ['end_date']);
                        
                        $asset_url = \DF\Url::route(array(
                            'module' => 'management',
                            'controller' => 'apartments',
                            'action' => 'view',
                            'id' => $occ->asset->id,
                        ));
                        
                        $occupancies[] = '<a href="'.$asset_url.'">'.$occ->asset->name.'</a>: '.$start_date.' to '.$end_date;
                    }
                    echo implode('<br>', $occupancies);
                }
                ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>
<? endif; ?>

<?=$this->paginate($this->pager) ?>