<?
$this->headTitle('View Electric Consumption History');
?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="16%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
        <col width="7%" />
    </colgroup>
    <thead>
        <tr>
            <th>Apartment</th>
        <? foreach($this->months as $month_code => $month_info): ?>
            <th><?=$month_info['name'] ?></th>
        <? endforeach; ?>
        </tr>
    </thead>
    <tbody>
    <? foreach($this->assets as $asset): ?>
        <tr>
            <td align="left"><?=$asset['name'] ?></td>
        <? foreach($this->months as $month_code => $month_info): ?>
            <td align="center"><?=$month_info['items'][$asset['id']] ?></td>
        <? endforeach; ?>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>