<?
$this->headTitle('View Electric Consumption History');
?>

<h2>Select a Complex</h2>

<form action="" method="get">
<dl>
    <dt>Complex:</dt>
    <dd><?=$this->formSelect('group_id', NULL, NULL, $this->group_options) ?></dd>
    
    <dt>Export Format:</dt>
    <dd><?=$this->formRadio('format', NULL, NULL, array(
        'html'      => 'View on Web Page',
        'csv'       => 'Download to Excel',
    )) ?></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'submit',
        'icon'      => 'clock',
        'text'      => 'View History',
    )) ?>
</div>
</form>