<?
$this->headTitle('Manage Electric Meter Readings');

$buttons = array();
$buttons[] = $this->button(array(
    'type'      => 'link',
    'href'      => $this->routeFromHere(array('timestamp' => NULL)),
    'icon'      => 'resultset_previous',
    'text'      => 'Back to Posting List',
));
$buttons[] = $this->button(array(
    'type'      => 'submit',
    'icon'      => 'disk',
    'class'     => 'positive',
    'text'      => 'Save Changes',
));
?>

<h2><?=$this->group_name ?> - <?=date('F j, Y', $this->timestamp) ?></h2>

<form action="<?=\DF\Url::current() ?>" method="post">
<div class="buttons"><?=implode('', $buttons) ?></div>

<? foreach($this->assets as $asset): ?>
<div style="width: 150px; height: 80px; float: left;">
    <big><?=$asset['name'] ?></big>
    <br /><small>Previous reading: <span id="previous_reading_<?=$asset['id'] ?>" style="font-weight: bold;"><? if ($asset['previous']): ?><?=(int)$asset['previous']['meter_reading'] ?><? else: ?>0<? endif; ?></span></small>
    <br /><small>Calculated bill: <span id="calculated_rate_<?=$asset['id'] ?>" style="font-weight: bold;">$0.00</span></small>
    <br />
    <input type="text" id="current_reading_<?=$asset['id'] ?>" name="reading[<?=$asset['id'] ?>]" value="<?=(int)$asset['current']['meter_reading'] ?>" rel="<?=$asset['id'] ?>" data-rate="<?=$asset['ElectricProvider']['cost'] ?>" class="meter_reading half-width" autocomplete="off" />
</div>
<? endforeach; ?>
<div class="clear">&nbsp;</div>

<div class="buttons"><?=implode('', $buttons) ?></div>

<script type="text/javascript">
$(function() {
    $('.meter_reading').each(function() {
        if ($(this).val())
        {
            calculateRate($(this).attr('rel'));
        }
    });
    
    $('.meter_reading').change(function() {
        calculateRate($(this).attr('rel'));
    });
});

function calculateRate(asset_id)
{
    var old_reading = $('#previous_reading_'+asset_id).text();
    var new_reading = $('#current_reading_'+asset_id).val();
    var rate = $('#current_reading_'+asset_id).data('rate');
    
    var diff = new_reading - old_reading;
    var amount = diff * rate;
    
    $('#calculated_rate_'+asset_id).text('$'+amount.toFixed(2));
}
</script>