<?
$this->headTitle('Manage Electric Meter Readings');
?>

<h2>Select a Complex</h2>

<ul>
<? foreach($this->group_options as $group_key => $group_name): ?>
    <li><a href="<?=$this->routeFromHere(array('group_id' => $group_key)) ?>"><?=$group_name ?></a></li>
<? endforeach; ?>
</ul>