<?
$this->headTitle('Enter Special Meter Readings');

$types = array(
	'monthly'		=> 'Monthly Electric Reading',
	'movein'		=> 'Move-In Reading',
	'moveout'		=> 'Move-Out Reading',
);
?>

<h2><?=$this->asset->name ?></h2>

<form action="<?=$this->routeFromHere(array('submitted' => 'true')) ?>" method="post">
<h3>Enter New Reading</h3>

<dl>
	<dt>Meter Reading:</dt>
	<dd><input type="text" name="meter_reading"></dd>

	<dt>Date Collected:</dt>
	<dd><input type="text" name="meter_date" class="datepicker"></dd>

	<dt>Reading Type:</dt>
	<dd><?=$this->formRadio('reading_type', NULL, NULL, $types) ?></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'add',
		'text'		=> 'Add Reading',
	)) ?>
</div>
</form>

<br>
<h3>Existing Readings</h3>

<table class="datatable zebra" style="width: 80%">
	<colgroup>
		<col width="5%" />
		<col width="20%" />
		<col width="15%" />
		<col width="30%" />
		<col width="15%" />
		<col width="15%" />
	</colgroup>
	<thead>
		<tr>
			<th>&nbsp;</th>
			<th>Date</th>
			<th>Reading (kWh)</th>
			<th>Type</th>
			<th>Usage (kWh)</th>
			<th>Estd. Cost</th>
		</tr>
	</thead>
	<tbody>
	<? foreach($this->readings as $offset => $electric): ?>
		<tr <? if ($electric['reading_type'] == "monthly"): ?>class="disabled"<? endif; ?>>
			<td align="center">
			<? if ($electric['reading_type'] == "monthly"): ?>
				&nbsp;
			<? else: ?>
				<a href="<?=$this->routeFromHere(array('action' => 'deletespecial', 'id' => $electric['id'])) ?>" title="Delete" class="confirm-delete"><?=$this->icon('delete') ?></a>
			<? endif; ?>
			</td>
			<td align="center"><?=date('m/d/Y', $electric['meter_date']) ?></td>
			<td align="right"><?=(int)$electric['meter_reading'] ?></td>
			<td align="left"><?=$types[$electric['reading_type']] ?></td>
			<td align="right"><?=$electric['usage_diff'] ?></td>
			<td align="right"><?=$electric['usage_cost'] ?></td>
		</tr>
	<? endforeach; ?>
	</tbody>
</table>