<?
$this->headTitle('New Tenant Application');
?>

<?php echo $this->form; ?>

<style>
    fieldset {
        display: block;
        float: left;
        width: 48%;
        margin: 0 5px 5px 0;
    }
    #submit { float: left; }
    #fieldset-mailing_address_subform,
    #fieldset-apartment_types_subform,
    #submit {
        clear: left;
    }
    .floating { float: left; }
    #fieldset-lease_types_subform { width: 97.5%; }
    #fieldset-lease_types_subform table {
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
    }
    #fieldset-lease_types_subform th {
	background: #ccc;
	border: 1px solid #000;
    }
    #fieldset-lease_types_subform td {
	text-align: center;
	font-weight: bold;
	border: 1px solid #000;
    }
</style>

<script>
$(document).ready(function(){
    var selections = 0;
    var textcolor = '';
    $('#fieldset-apartment_types_subform select').change(function(){
	textcolor = $(this).css('color');
	$('#fieldset-apartment_types_subform select[name!="'+this.name+'"]')
	    .find('option:eq('+this.selectedIndex+')')
	    .attr('disabled', 'disabled')
	    .css('color', '#ddd');
	if (selections == 0)
	    $('<button>Reset selections</button>')
		.click(function(e){
		    e.preventDefault();
		    $(this).append('<span class="loading"></span>');
		    $('#fieldset-apartment_types_subform select')
			.val(0)
			.find('option')
			.removeAttr('disabled')
			.css('color', textcolor);
		    $(this).fadeOut();
		    selections = 0;
		})
		.insertAfter('#fieldset-apartment_types_subform .group_description');
	selections++;
    });
});
</script>