<?
$this->headTitle('FAMIS Report for TouchNet Transactions');
?>

<h2>Report: <? echo date('m/d/Y', $this->start_date); ?> to <? echo date('m/d/Y', $this->end_date); ?></h2>

<? if ($this->duplicates): ?>
	<fieldset>
    	<legend>Duplicates</legend>
        
        <dl>
        <? foreach($this->duplicates as $duplicate_set): ?>
            <dt><?=$duplicate_set[0]['payment_name'] ?> for $<? echo number_format($duplicate_set[0]['payment_amount'], 2); ?>:</dt>
            <dd>
                <? foreach($duplicate_set as $transaction): ?>
                <div><?=$transaction['transaction_id'] ?></div>
                <? endforeach; ?>
            </dd>
        <? endforeach; ?>
        </dl>
    </fieldset>
<? endif; ?>

<? foreach($this->transactions as $transaction): ?>
	<fieldset>
    	<legend>Transaction <?=$transaction['transaction_id'] ?></legend>
    
        <dl>
            <dt>Transaction ID:</dt>
            <dd><?=$transaction['transaction_id'] ?></dd>
            
            <dt>Resident Name:</dt>
            <dd><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $transaction['Resident']['id'])) ?>"><?=$transaction['Resident']['first_name'] ?> <?=$transaction['Resident']['surname'] ?></a></dd>
            
            <dt>Resident Apartments:</dt>
            <dd>
            	<ul>
            	<? foreach($transaction['Resident']['Occupancies'] as $occupancy): ?>
                	<li>Asset #<?=$occupancy['Asset']['id'] ?>: <?=$occupancy['Asset']['name'] ?> - <? echo date('F j, Y', $occupancy['start_date']); ?> to <? echo ((int)$occupancy['end_date']) ? date('F j, Y', $occupancy['end_date']) : 'Current'; ?></li>
                <? endforeach; ?>
                </ul>
            </dd>
            
            <dt>Timestamp:</dt>
            <dd><? echo date('F j, Y g:ia', $transaction['time_created']); ?></dd>
            
            <dt>Payment Amount:</dt>
            <dd>$<? echo number_format($transaction['payment_amount'], 2); ?></dd>
            
            <dt>Payment Name:</dt>
            <dd><?=$transaction['payment_name'] ?></dd>
            
            <dt>Component Transactions:</dt>
            <dd>
                <ul>
                <? foreach($transaction['Splits'] as $split): ?>
                    <li>
                    	<? if (!$split['asset_id']): ?>
                        	<?=$this->icon(array(
								'title'		=> 'This transaction does not have an apartment ID specified.',
								'image'		=> 'flag_red',
							)) ?>
                        <? endif; ?>
                    	<b>$<? echo number_format(0-$split['split_amount'], 2); ?></b>: (ID <?=$split['id'] ?>, Matching ID <?=$split['matching_split_id'] ?>) <?=$split['Transaction']['memo'] ?>
                    </li>
                <? endforeach; ?>
                </ul>
            </dd>
        </dl>
    </fieldset>
<? endforeach; ?>