<?
$this->headTitle('Financial Reports');
$registers = Register::fetchSelect();
?>

<h2>Daily Reconciliation Reports</h2>

<dl>
<? foreach($registers as $register_id => $register_name): ?>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'reconcile', 'register_id' => $register_id)) ?>"><?=$register_name ?></a></dt>
<? endforeach; ?>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'reconcile', 'register_id' => 'all')) ?>">All Registers</a></dt>
</dl>

<br />
<h2>Outstanding Charges</h2>

<dl>
	<dt><a href="<?=$this->routeFromHere(array('action' => 'charges')) ?>">Outstanding Charges by Resident</a></dt>
    <dd>View the current outstanding balance for all residents.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'nonresidentcharges')) ?>">Outstanding Charges for Non-Residents</a></dt>
    <dd>The same report as above, but for non-residents who continue to hold outstanding balances.</dd>
</dl>

<br />
<h2>Other reports</h2>

<dl>
    <dt><a href="<?=$this->routeFromHere(array('action' => 'vacancycost')) ?>">Asset Vacancy Cost by Date Range</a></dt>
    <dd>View all vacant apartments within a specified date range and the associated cost with each vacancy.</dd>

    <dt><a href="<?=$this->routeFromHere(array('action' => 'electricprelim')) ?>">Electric Preliminary Billing Report</a></dt>
    <dd>View the upcoming month's electric bill before it officially posts.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'famis')) ?>">FAMIS/TouchNet Transaction Details</a></dt>
    <dd>View the report that is sent to FMO to reconcile the TouchNet charges in the system.</dd>
    
    <dt><a href="<?=$this->routeFromHere(array('action' => 'touchnet')) ?>">TouchNet Data Reproduction Report</a></dt>
    <dd>View the data that is sent between the TouchNet system and this application.</dd>
</dl>