<?
$this->headTitle('Outstanding Charges For Non-Residents');
?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'page_white_excel',
        'text'      => 'Download to Excel',
        'href'      => $this->routeFromHere(array('format' => 'csv')),
    )) ?>
</div>

<?=$this->paginate($this->pager) ?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="75%" />
        <col width="25%" />
    </colgroup>
    <tbody>
    <? foreach($this->pager as $resident): ?>
        <tr>
            <td align="left"><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $resident['id'])) ?>" title="Click to Visit Profile" target="_blank"><?=$resident['surname'] ?>, <?=$resident['first_name'] ?> (<?=$resident['uin'] ?>)</a></td>
            <td align="center">
            <? if ($resident['balance'] >= 0): ?>
                <span style="color: #009900">$<? echo number_format($resident['balance'], 2) ?></span>
            <? else: ?>
                <span style="color: #990000">$<? echo number_format($resident['balance'], 2) ?></span>
            <? endif; ?>
            </td>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>

<?=$this->paginate($this->pager) ?>