<?
$this->headTitle('Reconciliation Report');
?>

<h2>Report Details for Cash Register</h2>

<form action="<?=\DF\Url::current() ?>" method="get">
<dl>
    <dt>Select Batch:</dt>
    <dd><?=$this->formSelect('date_range', NULL, NULL, $this->report_select) ?></dd>
</dl>

<input type="hidden" name="is_exact" value="true" />

<div class="buttons">
    <?=$this->button(array(
        'type' => 'submit',
        'icon' => 'resultset_next',
        'text' => 'Generate Report',
    )) ?>
</div>
</form>