<?
$this->headTitle('TouchNet Data Reproduction Report');
?>

<form action="<?=$this->routeFromHere(array('format' => 'csv')) ?>" method="get">
<input type="hidden" name="start_date" value="<?=$this->start_date_raw ?>" />
<input type="hidden" name="end_date" value="<?=$this->end_date_raw ?>" />
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'page_white_excel',
		'text'		=> 'Download to Excel',
	)) ?>
</div>
</form>

<table class="datatable zebra" width="100%">
	<thead>
    	<th>&nbsp;</th>
    	<th nowrap="nowrap">Vendor ID</th>
        <th nowrap="nowrap">Transaction ID</th>
        <th nowrap="nowrap">Resident ID</th>
        <th nowrap="nowrap">Date</th>
        <th nowrap="nowrap">Full Amount</th>
    <? for($i = 0; $i < 20; $i++): ?>
        <th nowrap="nowrap">Item #<?=($i+1) ?> Account</th>
        <th nowrap="nowrap">Item #<?=($i+1) ?> Amount</th>
    <? endfor; ?>
    </thead>
	<tbody>
    <? foreach($this->transactions as $trans): ?>
    	<tr>
        	<td align="center">
            <? if (!$trans['error']): ?>
            	<?=$this->icon('tick') ?>
            <? else: ?>
            	<?=$this->icon('error') ?>
            <? endif; ?>
            </td>
        	<td nowrap="nowrap"><?=$trans['vendor_id'] ?></td>
            <td nowrap="nowrap"><?=$trans['order_id'] ?></td>
            <td nowrap="nowrap"><a href="<?=$this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'view', 'id' => $trans['resident_id'])) ?>" target="_blank"><?=$trans['resident_id'] ?></a></td>
            <td nowrap="nowrap"><?=$trans['date'] ?></td>
            <td nowrap="nowrap"><b>$<? echo number_format($trans['amount'], 2); ?></b></td>
        <? for($i = 0; $i < 20; $i++): ?>
        	<td nowrap="nowrap"><?=$trans['items'][$i]['account'] ?></td>
            <td nowrap="nowrap">$<? echo number_format($trans['items'][$i]['amount'], 2); ?></td>
        <? endfor; ?>
        </tr>
    <? endforeach; ?>
    </tbody>
</table>