<?
$this->headTitle('TouchNet Data Reproduction Report');
?>

<form action="<?=\DF\Url::current() ?>" method="get">
<dl>
    <dt>Start Date:</dt>
    <dd><?=$this->formUnixDate('start_date', time()) ?></dd>
    
    <dt>End Date:</dt>
    <dd><?=$this->formUnixDate('end_date', time()) ?></dd>
</dl>

<div class="buttons">
    <?=$this->button(array(
        'type' => 'submit',
        'icon' => 'resultset_next',
        'text' => 'Generate Report',
    )) ?>
</div>
</form>