<?
$this->headTitle($this->quiz_name);
?>

<p>Answer the questions below and click "Submit Answers" at the bottom of the page to continue. You will be able to try again if you get any questions wrong. Once all questions are correct, your training requirement will be met.</p>

<form action="<?=\DF\Url::current() ?>" method="post">
<input type="hidden" name="submitted" value="true" />

<?
$i = 0;
foreach($this->quiz as $question_num => $quiz_item):
	$i++;
	
	if ($quiz_item['was_responded_to'])
		$icon = ($quiz_item['is_correct']) ? 'tick' : 'cross';
	else
		$icon = 'help';
?>
<div>
	<?=$this->icon(array(
		'type'		=> 'png32',
		'image'		=> $icon,
		'style'		=> 'float: left; padding: 5px;',
	)) ?>
	<div style="padding: 5px 0;">
		<small>Question #<?=$i ?>:</small><br />
		<big><?=$quiz_item['question'] ?></big>
	</div>
	<div style="padding: 5px 5px 5px 30px; clear: both;">
		<?=$this->formRadio('q'.$question_num, $quiz_item['selected'], NULL, $quiz_item['options']) ?>
	</div>
</div>
<br />
<?
endforeach;
?>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'resultset_next',
		'text'		=> 'Submit Answers',
	)) ?>
</div>
</form>