<?
$this->headTitle('Select Quiz');
?>

<dl>
<? foreach($this->quiz_types as $quiz_type): ?>
    <dt><a href="<?=$this->routeFromHere(array('quiz' => $quiz_type['id'])) ?>"><?=$quiz_type['name'] ?></a></dt>
    <dd><?=$quiz_type['description'] ?></dd>
<? endforeach; ?>
</dl>