<ul class="autoselect nav nav-pills" rel="<?=$this->current_view ?>">
<? foreach($this->available_views as $view_id): ?>
    <li rel="<?=$view_id ?>"><a href="<?=$this->routeFromHere(array('view' => $view_id)) ?>"><?=$this->view_names[$view_id] ?></a></li>
<? endforeach; ?>
</ul>