<?
$this->headTitle('Move-in Appointments');
$edit = $this->is48hrsahead;

$start_time = $this->start_time;
$end_time = $this->end_time;
$appointments = $this->appointments;
$dates = $this->dates;
$last_week = strtotime('-7 days', $dates[0]);
$next_week = strtotime('+7 days', $dates[0]);
$today = strtotime('today');
$movein = $this->movein;
$mydate = $this->mydate;
$myslot = $this->myslot;
?>
<!-- {*
<div class="date_nav">
    <span class="nav_prev">
        <a class="ui-button small" href="<?php echo $this->routeFromHere(array('date' => $last_week)); ?>" title="Previous Week">&laquo; Previous Week</a>
    </span>
    <span class="nav_next">
        <a class="ui-button small" href="<?php echo $this->routeFromHere(array('date' => $next_week)); ?>" title="Next Week">Next Week &raquo;</a>
    </span>
</div>
*} -->
<table class="datatable zebra" style="text-align:center;">
    <tr>
        <th width="15%">Time</th>
        <?php foreach($dates as $date): ?>
        <th>
            <?php echo date('m/d/Y', $date); ?>
        </th>
        <?php endforeach; ?>
    </tr>
<?php while($start_time < $end_time): ?>
    <?php
    if (substr($start_time, -2) == '30')
        $slot_end_time = $start_time + 70; 
    else
        $slot_end_time = $start_time + 30;
    ?>
    <tr>
        <td><?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> &ndash; <?php echo date('g:ia', strtotime(str_pad($slot_end_time, 4, '0', STR_PAD_LEFT))); ?></td>
    <?php if ($start_time != 1200 && $start_time != 1230): ?>
    <?php foreach($dates as $date): ?>
        <td>
        <? if ($mydate == $date && $myslot == str_pad($start_time, 4, '0', STR_PAD_LEFT)): ?>
            <?=$this->icon('star')?> My Move-in
        <? elseif ($date - $today >= 172800): ?>
            <?php if (count($appointments[(string)$date][str_pad($start_time, 4, '0', STR_PAD_LEFT)]) < $this->limit && $edit): ?>
                <a id="<?php echo 'add-'.$date.'-'.str_pad($start_time, 4, '0', STR_PAD_LEFT); ?>" class="btn_add_appt" href="#" title="Add appointment at <?php echo date('g:ia', strtotime(str_pad($start_time, 4, '0', STR_PAD_LEFT))); ?> on <?php echo date('m/d', $date); ?>"><?php echo $this->icon('add'); ?></a>
            <?php else: ?>
                (Full)
            <?php endif; ?>
        <? endif; ?>
        </td>
    <?php endforeach; ?>
    <?php else: ?>
        <td colspan="<?php echo count($dates); ?>" style="background:#ccc;">NO APPOINTMENTS</td>
    <?php endif; ?>
    </tr>
    <?php
    if (substr($start_time, -2) == '30')
        $start_time += 70; 
    else
        $start_time += 30;
    ?>
<?php endwhile; ?>
</table>

<div id="dialog_add_appointment">
    <dl>
        <dt>Schedule Appointment:</dt>
        <dd id="slot"></dd>
    </dl>

    <form id="frm_add_appointment" action="<?=$this->route(array('module' => 'default', 'controller' => 'index', 'action' => 'savemovein')) ?>" method="post">
    <input type="hidden" id="resident_id" name="resident_id" value="<?php echo $this->resident->id; ?>" />
    <input type="hidden" id="occupancy_id" name="occupancy_id" value="<?php echo $this->occupancy->id; ?>" />
    <input type="hidden" id="date" name="date" value="0" />
    <input type="hidden" id="slot" name="slot" value="0" />
    <input type="hidden" id="movein" name="movein" value="1" />
    <?php if ($movein->id): ?>
    <input type="hidden" id="movein_id" name="movein_id" value="<?php echo $movein->id; ?>" />
    <?php endif; ?>
    <input type="hidden" id="csrf" name="csrf" value="<?php echo \DF\Csrf::getToken();?>" />
    </form>
</div>

<style>
.appt {
    position: relative;
    background: #D5FFD5;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin: 1px;
}
.appt .icon {
    position: absolute;
    top: 1px;
    right: 1px;
}
.movein {
    background: #fdf5ce;
}
.btn_add_appt {
    float: left;
}
.date_nav {
    margin-bottom: 1em;
}
.date_nav .nav_next {
    float: right;
}
</style>

<?php $this->headScript()->captureStart() ?>

$(document).ready(function(){

    $('#dialog_add_appointment').dialog({
        title: 'New Move-in Appointment',
        width: 400,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });

    $('a.btn_add_appt').click(function() {
        var id_parts = $(this).attr('id').split('-');
        var date = id_parts[1];
        var slot = id_parts[2];
        var formatted_date = $(this).attr('title');
        $("#dialog_add_appointment dd#slot").text(formatted_date);
        $("#frm_add_appointment input[name='date']").val(date);
        $("#frm_add_appointment input[name='slot']").val(slot);
        $('#dialog_add_appointment').dialog('open');
        return false;
    });
});

<?php $this->headScript()->captureEnd() ?>