<div class="messages green">
    <p>Please print and sign this form and bring it in to the University Apartments Office.</p>
</div>

<h1 style="text-align:center;">Intent to Vacate</h1>
<h2 style="text-align:center;">
    Texas A&amp;M University<br/>
    Department of Resident Life<br/>
    University Apartments
</h2>

<fieldset>
    Student Resident Name: <?php echo $this->resident->getNameFirstLast(); ?><br/>
    UIN: <?php echo $this->resident->uin; ?> Apartment: <?php echo $this->occupancy->asset->name; ?><br/>
    This form serves as notice that I will move out of the apartment listed above on <?php echo $this->dateOrDefault($this->occupancy->moveoutdate); ?>.
</fieldset>

<fieldset>
    <legend>Intent to Vacate Terms and Conditions</legend>
    <ul>
        <li>Each resident who has signed a lease must submit a notice to vacate in person at the University Apartments Office.</li>
        <li>Per lease terms, the resident moving out must pay rent and electric for at least 30 days from the date this form is submitted to the University Apartments Office and at most up to and including the intended move out date.</li>
        <li>The resident moving out may not occupy the apartment past intended move out date listed on this form.</li>
        <li>Only the Coordinator of Apartment Services can grant exceptions allowing the resident moving out to occupy the apartment past the intended move out date. The vacating resident must request permission to stay past the date on the notice to vacate. The request may be denied. If an exception is granted, the resident moving out must pay rent at a rate of twice the daily rent rate for every day past the originally requested move out date.</li>
        <li>The security deposit cannot be applied towards the rent but may be used for the final electric charges and any cleaning or damage charges.</li>
        <li>Once a notice to vacate is submitted, roommates may not be added to the apartment.</li>
    </ul>
</fieldset>

<fieldset>
    <p>I would like my remaining security deposit to be (check one box):</p>
    <dl>
        <dt>
            <input type="checkbox"/> Issued by check and mailed to me at the following forwarding address:
        </dt>
        <dd>
            <?php
            $forwarding_address = array_filter($this->resident->getAddress('forwarding'), 'trim');
            if (!empty($forwarding_address))
            {
                echo implode('<br/>', $forwarding_address);
            }
            ?>
            <br/>
            <?= $this->button(array(
                'type'  => 'small',
                'href'  => $this->route(array('module' => 'management', 'controller' => 'residents', 'action' => 'editaddress', 'id' => $this->resident->id, 'type' => 'forwarding')),
                'icon'  => 'pencil',
                'text'  => 'Update',
                'id'    => 'edit_forwarding_address',
            ))?>
        </dd>
        <dt>
            <input type="checkbox"/> Directly Deposited into my bank/checking account. I completed and submitted the direct deposit form to the University Apartments Office.
        </dt>
    </dl>
    <p style="text-align:center;">Checks will not be sent to any university address including another University Apartment or University offices.</p>
</fieldset>

<p>Names of residents remaining in apartment: <span style="width:50em;display:inline-block;border-bottom:1px solid #000;"></span></p>

<p>By signing below, I am indicating that I understand all of the "Intent to Vacate Terms and Conditions" listed above and must check out of the apartment with a staff member or do an express check out on the date I have indicated as my move out date. All keys to the apartment need to be turned in at time of check out.</p>

<p>Student Signature <span style="width:50em;display:inline-block;border-bottom:1px solid #000;"></span> Date <span style="width:7em;display:inline-block;border-bottom:1px solid #000;"></span></p>

<div style="border: 1px solid #000; background: #ccc; padding: 1em;">
    <h3>Office Staff Only----</h3>
    <p>Rent due to vacate on <?php echo $this->dateOrDefault($this->occupancy->moveoutdate); ?> is $<span style="width:7em;display:inline-block;border-bottom:1px solid #000;"></span> plus electric charges. Final rent and previous month's electric is due by <span style="width:7em;display:inline-block;border-bottom:1px solid #000;"></span>. Final electric, and if necessary, cleaning and damage charges will be deducted from the security deposit.</p>
    <h3>Check out appointment Date: <span style="width:15em;display:inline-block;border-bottom:1px solid #000;"></span> Time: <span style="width:7em;display:inline-block;border-bottom:1px solid #000;"></span></h3>
    <p>Staff Signature <span style="width:15em;display:inline-block;border-bottom:1px solid #000;"></span> Date <span style="width:7em;display:inline-block;border-bottom:1px solid #000;"></span></p>
</div>
<br/>
<?php
echo $this->button(array(
        'type'  => 'link',
        'href'  => $this->route(array('module' => 'default')),
        'text'  => 'Done',
    ));
?>
<style>
    p { margin: 1em 0;}
</style>
<?php $this->headScript()->captureStart() ?>
$(document).ready(function(){
    $('#edit_forwarding_address').DFFormDialog(
        'forwarding_address',
        { 'title' : 'Edit Forwarding Address', 'width' : 500, 'height' : 450 }
    );
});
<?php $this->headScript()->captureEnd() ?>