<?php
$this->headTitle('Occupancy Report');
?>

<? if (!$this->executed): ?>
    <h2>About This Report</h2>
    <p>This report includes totals for vacant/occupied units. It also includes classification info on primary residents.</p>
    
    <form method="get" action="<?php echo $this->routeFromHere(array('vacancy' => 'report')); ?>">
        <?=$this->button(array(
            'id'		=> 'btn_generate_report',
            'type'		=> 'submit',
            'text'		=> 'Generate Report',
        )) ?>
    </form>
    <div id="dialog_report_running">
        <div style="text-align: center;">
            <img src="<?=\DF\Url::content('/jquery/images/preloader.gif') ?>" alt="(loading)"/>
            <br /><br />
            Please wait. This could take a few minutes.
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $('#dialog_report_running').dialog({
            width: 300,
            height: 150,
            modal: true,
            autoOpen: false,
            title: 'Generating Report...'
        });
        
        $('#btn_generate_report').click(function(){
            $('#dialog_report_running').dialog('open');
        });
    });
    </script>
<? else: ?>
    <p>Report generated: <?php echo date('m/d/Y h:i a'); ?></p>
    
    <fieldset>
    	<legend>Details by Complex</legend>
        
    <?php if (count($this->complexes) > 0): ?>
        <table class="datatable zebra" summary="Occupany report">
            <colgroup>
                <col width="70%" />
                <col width="10%" />
                <col width="10%" />
                <col width="10%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Complex/Building</th>
                    <th>Vacant</th>
                    <th>Occupied</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->complexes as $complex): ?>
                <tr>
                    <th><?=$complex['name'] ?></td>
                    <th align="right"><?=(int)$complex['vacant'] ?></td>
                    <th align="right"><?=(int)$complex['occupied'] ?></td>
                    <th align="right"><?=(int)$complex['total'] ?></td>
                </tr>
                <? foreach($complex['buildings'] as $building): ?>
                <tr>
                    <td><?=$building['name'] ?></td>
                    <td align="right"><?=(int)$building['vacant'] ?></td>
                    <td align="right"><?=(int)$building['occupied'] ?></td>
                    <td align="right"><?=(int)$building['total'] ?></td>
                </tr>
                <? endforeach; ?>
            <? endforeach; ?>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td align="right"><?=(int)$this->grand_totals['vacant'] ?></td>
                    <td align="right"><?=(int)$this->grand_totals['occupied'] ?></td>
                    <td align="right"><?=(int)$this->grand_totals['total'] ?></td>
                </tr>
            </tfoot>
        </table>
    <?php else: ?>
        <p>No apartments found in system!</p>
    <?php endif; ?>
    </fieldset>
    
    <fieldset>
    	<legend>Residents by Status</legend>
    <?php if ($this->total_occupants > 0): ?>
        <table class="datatable zebra" summary="Principal Tenant Status report">
            <thead>
                <tr>
                    <th scope="col">Principal Tenant Status</th>
                    <th scope="col">Occupancy</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->all_occupants as $status => $total): ?>
                <tr>
                    <td><?php echo $status; ?></td>
                    <td><?php echo intval($total); ?></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
            <tfoot>
                <tr>
                    <td>Total</td>
                    <td><?php echo intval($this->total_occupants); ?></td>
                </tr>
            </tfoot>
        </table>
    <?php endif; ?>
    </fieldset>
    
    <fieldset>
    	<legend>Residents by Ethnicity</legend>
    	
	<?php if ($this->occupants_by_ethnicity): ?>
        <table class="datatable zebra" summary="Principal Tenant Status report">
            <thead>
                <tr>
                	<th>Ethnicity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach($this->occupants_by_ethnicity as $ethnicity => $total): ?>
                <tr>
                    <td><?php echo $ethnicity; ?></td>
                    <td><?php echo (int)$total; ?></td>
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
    </fieldset>
    
<?php endif; ?>