<?
$this->headTitle('Phone Report');
?>

<table class="datatable zebra" width="100%">
    <colgroup>
        <col width="20%" />
        <col width="30%" />
        <col width="25%" />
        <col width="25%" />
    </colgroup>
	<thead>
        <th>Apartment Name</th>
        <th>Residents</th>
        <th>Phone Type</th>
        <th>Phone Number</th>
    </thead>
    <tbody>
    <? foreach($this->report as $asset): ?>
    	<tr>
        	<td align="left"><?=$asset['name'] ?></td>
            <td align="left">
            <? foreach((array)$asset['occupants'] as $resident): ?>
                <div><?=$resident['surname'] ?>, <?=$resident['first_name'] ?></div>
            <? endforeach; ?>
            </td>
            <td align="left"><?=$asset['phone_type'] ?></td>
            <td align="left"><?=$asset['phone_number'] ?></td>
        </tr>
    <? endforeach; ?>
	</tbody>
</table>