<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml" class="full_layout">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>
<?php
$title = current($this->headTitle()->getIterator());
$this->headTitle($this->config->application->name);

if (DF_APPLICATION_ENV != "production")
    $this->headTitle()->prepend('('.ucfirst(DF_APPLICATION_ENV).')');

echo $this->headTitle()->setSeparator(" | ")->toString();

$this->headLink()
    ->appendStylesheet(\DF\Url::content('global.css'), 'all')
    ->appendStylesheet(\DF\Url::content('jquery/addons/fancybox/jquery.fancybox.css'), 'all')
    ->appendStylesheet(\DF\Url::content('print.css'), 'print');
    
$this->headScript()
    ->prependFile(\DF\Url::cdn('jquery', '1'))
    ->appendFile(\DF\Url::content('jquery/addons/fancybox/jquery.fancybox.pack.js'))
    ->appendFile(\DF\Url::content('bootstrap/js/bootstrap.min.js'))
    ->appendFile(\DF\Url::content('layout.js'));

echo $this->headMeta();
echo $this->headLink();
echo $this->headScript();

if ($this->config->application->analytics_code)
	echo $this->analytics($this->config->application->analytics_code);
?>
<script>
var DF_ContentPath = '<?php echo \DF\Url::content(); ?>';
</script>
</head>
<body>
<div id="header-wrapper" class="wide-block"><div id="header" class="container"><div id="header-inner">
    <div id="logo-title">
        <div id="logo-title-site"><a href="<?=$this->route(array('module' => 'default')) ?>" title="Home"><img src="<?=$this->baseUrl() ?>/static/spacer.gif" alt="Home" /></a></div>
        <div id="logo-title-tamu"><a href="http://www.tamu.edu/" target="_blank"><img src="<?=$this->baseUrl() ?>/static/spacer.gif" alt="Texas A and M University" /></a></div>
    </div>
</div></div></div>

<div class="navbar-wrapper">
    <div class="navbar navbar-unloaded">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="<?=$this->route(array('module' => 'default')) ?>"><?=$this->config->application->name ?></a>

                <div class="nav-collapse">
                    <?=$this->menu()->render(array('levels' => 2)); ?>

                    <ul class="nav pull-right">
                        <li class="divider-vertical"></li>
                    <? if ($this->auth->isMasqueraded()): ?>
                        <? $user = $this->auth->getLoggedInUser(); ?>
                        <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'endmasquerade')) ?>">End Session (<?=$user->username ?>)</a></li>
                    <? elseif ($this->auth->isLoggedIn()): ?>
                        <? $user = $this->auth->getLoggedInUser(); ?>
                        <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'logout')) ?>">Log Out (<?=$user->username ?>)</a></li>
                    <? else: ?>
                        <li><a href="<?=$this->route(array('module' => 'default', 'controller' => 'account', 'action' => 'login')) ?>">Log In</a></li>
                    <? endif; ?>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<? if ($this->placeholder('content_top')->toString()): ?>
<div id="content_top_wrapper"><div id="content_top" class="container wide-block">
    <?=$this->placeholder('content_top')->toString() ?>
</div></div>
<? endif; ?>

<div id="page_wrapper"><div id="page">
    <div class="container">
        <?
        if (\DF\Flash::hasMessages()):
            $messages = \DF\Flash::getMessages();
            foreach($messages as $message):
        ?>
            <div class="alert alert-<?=$message['color'] ?>" data-alert="alert">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <?=$message['message'] ?>
            </div>
        <?
            endforeach;
        endif;
        ?>

        <div id="content_wrapper">
            <div id="content">
            <?
            $breadcrumb = $this->breadcrumb()->render();
            if ($breadcrumb):
            ?>
                <div id="breadcrumb">
                    <a href="<?=\DF\Url::baseUrl() ?>/"><?=$this->config->application->name ?></a> &raquo; <?=$breadcrumb ?>
                </div>
            <? endif; ?>
                <h1 class="title"><?=$title ?></h1>
    
            <? if ($this->layout()->tabs): ?>
                <div id="content_tabs">
                    <?=$this->layout()->tabs ?>
                </div>
            <? endif; ?>

            <? if ($this->layout()->manual): ?>
                <?php echo $this->layout()->content; ?>
            <? else: ?>
                <div class="row">
                    <div class="span12">
                        <div class="floating">
                            <div class="content_inner">
                                <?php echo $this->layout()->content; ?>
                            </div>
                        </div>
                    </div>
                </div>
            <? endif; ?>
            </div>
        </div>

        <div class="clear"></div>
        
        <div id="copyright">
			<a href="http://reslife.tamu.edu">Department of Residence Life</a> &bull; <a href="http://www.tamu.edu/">Texas A&amp;M University</a>
        </div>
    </div>
</div></div>
<div id="footer">&nbsp;</div>
</body>
</html>