<?
$this->headTitle('Add a Roommate');
?>

<p>University Apartments residents must be full-time graduate or undergraduate students at TAMU enrolled in a degree producing program. Undergraduate students must be "in good standing" with the University on all conduct and grade matters. For more information on eligibility requirements please see the <a href="http://reslife.tamu.edu/ua/" title="UA Living">University Apartments website</a>.</p>

<p><strong>All current residents of your apartment must approve this roommate request.</strong> When all current roommates have approved this request, and email will be sent to the potential roommate with further instructions.</p>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_next',
        'href'      => $this->routeFromHere(array('controller' => 'roommates', 'action' => 'invite')),
        'text'      => 'Continue',
    )) ?>
</div>