<?
$this->headTitle('Rollback TouchNet Transaction');
?>

<p>Use this page to undo the actions taken by a successful TouchNet transaction. This can be used, for example, to remove credit assigned to a resident whose check did not clear ACH or whose account number is invalid. No extra charges will be posted to the resident's account; any returned check fees must be applied manually.</p>

<form action="<?=\DF\Url::current() ?>" method="post">
<dl>
	<dt>TouchNet Tracing Number:</dt>
    <dd><input type="text" name="id" class="half-width" />
</dl>

<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'submit',
		'icon'		=> 'delete',
		'text'		=> 'Rollback Transaction',
	)) ?>
</div>
</form>