<?
$this->headTitle('Manage Asset Costs');
?>

<? if ($this->asset_id): ?>
	<h2>Entries Specific to This Property (<?=$this->asset->name ?>)</h2>
    
    <div class="buttons well">
        <?=$this->button(array(
            'type'		=> 'link',
            'class'     => 'large success',
            'href'		=> $this->routeFromHere(array('action' => 'edit', 'asset_id' => $this->asset_id, 'assettype_id' => NULL)),
            'icon'		=> 'add',
            'text'		=> 'Add Entry',
        )) ?>
    </div>

	<? if (($this->asset_records) > 0): ?>
        <table class="table table-striped">
            <colgroup>
                <col width="25%" />
                <col width="15%" />
                <col width="20%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Cost</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Billing Period</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->asset_records as $record): ?>
                <tr>
                    <td align="center">
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'icon'		=> 'pencil',
                            'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id)),
                            'text'		=> 'Edit',
                        )) ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'icon'		=> 'delete',
                            'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
                            'class'     => 'confirm-delete negative',
                            'text'		=> 'Delete',
                        )) ?>
                    </td>
                    <td align="left">$<? echo number_format($record->cost, 2); ?></td>
                    <td align="center"><?=$this->dateOrDefault($record->start_date) ?></td>
                    <td align="center"><?=$this->dateOrDefault($record->end_date) ?></td>
                    <td align="center"><?=$this->period ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    <? endif; ?>

<? endif; ?>
<? if ($this->asset_type_id): ?>
	<h2>Entries for This Property Type (<?=$this->asset_type->name ?>)</h2>
    
    <div class="buttons well">
        <?=$this->button(array(
            'type'		=> 'link',
            'class'     => 'large success',
            'href'		=> $this->routeFromHere(array('action' => 'edit', 'asset_id' => NULL, 'assettype_id' => $this->asset_type_id)),
            'icon'		=> 'add',
            'text'		=> 'Add Entry',
        )) ?>
    </div>

	<? if (count($this->asset_type_records) > 0): ?>
        <table class="table table-striped">
            <colgroup>
                <col width="25%" />
                <col width="15%" />
                <col width="20%" />
                <col width="20%" />
                <col width="20%" />
            </colgroup>
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Cost</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Billing Period</th>
                </tr>
            </thead>
            <tbody>
            <? foreach($this->asset_type_records as $record): ?>
                <tr>
                    <td align="center">
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'icon'		=> 'pencil',
                            'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $record->id)),
                            'text'		=> 'Edit',
                        )) ?>
                        <?=$this->button(array(
                            'type'		=> 'small',
                            'icon'		=> 'delete',
                            'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $record->id, 'csrf' => \DF\Csrf::getToken())),
                            'class'     => 'confirm-delete negative',
                            'text'		=> 'Delete',
                        )) ?>
                    </td>
                    <td align="left">$<? echo number_format($record->cost, 2); ?></td>
                    <td align="center"><?=$this->dateOrDefault($record->start_date) ?></td>
                    <td align="center"><?=$this->dateOrDefault($record->end_date) ?></td>
                    <td align="center"><?=$this->period ?></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    <? endif; ?>
<? endif; ?>