<?
$this->headTitle('Maintenance Request History');
?>

<table class="datatable zebra">
    <colgroup>
        <col width="10%" />
        <col width="20%" />
        <col width="25%" />
        <col width="25%" />
        <col width="20%" />
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>Date Submitted</th>
            <th>Location</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <?php if (count($this->workorders) > 0): ?>
        <? foreach($this->workorders as $request): ?>
        <tr class="input">
            <td align="center"><a href="<?=$this->routeFromHere(array('action' => 'view', 'id' => $request->id)) ?>"><?=$request->id ?></a></td>
            <td align="center"><?=date('m/d/Y g:ia', $request->time_reported) ?></td>
            <td align="left"><?=$request->location ?></td>
            <td align="left"><?=$request->Category->name ?></td>
            <td align="left"><?=$request->getStatusText() ?></td>
        </tr>
        <? endforeach; ?>
        <?php endif; ?>
    </tbody>
</table>