<?
$this->headTitle('Submit Maintenance Request');
?>

<h2>Submission Successful</h2>

<p>Your maintenance request was successfully submitted. Click the link below to view the status of your active submissions.</p>

<div class="buttons">
    <?=$this->button(array(
        'icon'      => 'table_multiple',
        'text'      => 'My Maintenance Requests',
        'href'      => $this->routeFromHere(array('action' => 'history')),
    )) ?>
</div>