<?
$this->headTitle('Manage Inventory Parts');
?>
<div class="buttons">
	<?=$this->button(array(
		'type'		=> 'link',
		'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => 0)),
		'icon'		=> 'add',
		'text'		=> 'Add Part',
	)) ?>
</div>

<h2>Find a Part</h2>

<form action="<?=\DF\Url::current() ?>" method="get">
<dl>
	<dt>Search terms:</dt>
    <dd><input type="text" name="searchterms" class="full-width big" <? if ($this->searchterms): ?>value="<?=$this->searchterms ?>"<? endif; ?> /></dd>
</dl>

<div class="buttons">
	<?=$this->button(array(
        'type'		=> 'submit',
        'icon'		=> 'find',
        'text'		=> 'Search Parts',
    )) ?>
</div>
</form>

<? if ($this->searchterms): ?>
	<h2>Search Results for: <?=$this->searchterms ?></h2>
<? endif; ?>

<?php if ($this->parts['pager']) print $this->doctrinePager($this->parts['pager'], $this->append_to); ?>
<?php
if (count($this->parts['results']) > 0)
{
    $token = \DF\Csrf::getToken();
    $body = array();
    foreach($this->parts['results'] as $part)
    {
        $body[] = array(
            $this->button(array(
                    'type'		=> 'small',
                    'icon'		=> 'pencil',
                    'href'		=> $this->routeFromHere(array('action' => 'edit', 'id' => $part->id, 'csrf' => $token)),
                    'text'		=> 'Edit',
            )).
            $this->button(array(
                    'type'		=> 'small',
                    'icon'		=> 'delete',
                    'href'		=> $this->routeFromHere(array('action' => 'delete', 'id' => $part->id, 'csrf' => $token)),
                    'class'     => 'confirm-delete negative',
                    'text'		=> 'Delete',
            )),
            $part->part_number,
            $part->name,
        );
    }

    $header = array(
        array(
            'data' => 'Actions',
            'style' => 'width:20%;',
        ),
        array(
            'sortable' => array(
                'key' => 'part_number',
            ),
            'data' => 'Part Number',
            'style' => 'width:20%;',
        ),
        array(
            'sortable' => array(
                'key' => 'name',
            ),
            'data' => 'Name',
        ),
    );

    print $this->table()
            ->setOptions(array(
                'style' => 'width: 100%',
            ))
            ->setHeader(array($header))
            ->setBody($body);
}
?>
<?php if ($this->parts['pager']) print $this->doctrinePager($this->parts['pager'], $this->append_to); ?>
