<?
$this->headTitle('Edit Work Order');
?>
<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'find',
        'text'      => 'Find Resident',
        'href'      => '#',
        'id'        => 'btn_find_resident'
    )) ?>
</div>

<?=$this->form ?>

<div id="dialog_find_resident">
    <dl>
        <dt>Search for Resident:</dt>
        <dd class="info">Enter name, uin, email, or apartment name:</dd>
        <dd><input type="text" id="field-resident-name" name="field-resident-name" class="full-width" /></dd>
    </dl>

    <dl id="resident-search-results"></dl>

    <form id="frm_add_occupancy" action="<?=$this->route(array('module' => 'management', 'controller' => 'occupancies', 'action' => 'add', 'asset_id' => $this->asset->id)) ?>" method="get">
    <input type="hidden" id="resident_id" name="resident_id" value="0" />
    </form>
</div>

<script type="text/javascript">
$(document).ready(function(){
    $('#dialog_find_resident').dialog({
        title: 'Find Resident',
        width: 400,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });

    $('#btn_find_resident').click(function() {
        $('#dialog_find_resident').dialog('open');
        return false;
    });

    $('a.btn_choose_resident').live('click', function() {
		var data = $(this).attr('rel').split('|');
        var name = data[0];
        var email = data[1];
        var phone = data[2];
        var asset_id = data[3];
        
		$("#submitter_name").val(name);
		$("#submitter_email").val(email);
        $("#submitter_phone_number").val(phone);
        $('#dialog_find_resident').dialog('close');
		return false;
	});

    var vTimeout;
	$('input#field-resident-name').keyup(function() {
		clearTimeout(vTimeout);
		vTimeout = setTimeout('lookUpResident()', 300);
	});

    var btn = $('<a href="#" class="ui-button small" id="apt_lookup_btn">Get Apt. Residents</a>').button();
    $('select#asset_id').parent().append(btn);
    
    $('#apt_lookup_btn').click(function(e) {
        e.preventDefault();
        $('#dialog_find_resident').dialog('open');
        $('#field-resident-name').val($('select#asset_id option:selected').text());
        lookUpResident();
    });
});

var lookUpResident = function()
{
    $('#resident-search-results').show();
    $('#resident-search-results').html('<dd>Searching...</dd>');

    $.getJSON('<?=$this->routeFromHere(array('action' => 'findresident')) ?>', { query: $('#field-resident-name').val() }, function(data) {
        if (data.results_num == 0)
        {
            $('#resident-search-results').html('<dd>No results found.</dd>');
        }
        else
        {
            var lookup_html = '';
            var lookup_link = '';

            for (var i=0; i<data.results.length; i++)
            {
                    result = data.results[i];
                    lookup_html += '<a class="btn_choose_resident" rel="'+result.name+'|'+result.email+'|'+result.phone+'" href="#">'+result.text+'</a><br>';
            }

            $('#resident-search-results').html('<dd>'+lookup_html+'</dd>');
        }
    });
}
</script>