<?
$this->headTitle('Manage Maintenance');
$this->layout()->manual = TRUE;
?>

<div class="span4">
    <div class="floating">
        <h2>Requests By Status</h2>
        
        <table class="datatable zebra">
            <colgroup>
                <col width="20%" />
                <col width="80%" />
            </colgroup>
            <tbody>
            <? foreach($this->requests_by_status as $status_id => $status_info): ?>
                <tr class="input">
                    <td align="center"><big><?=$status_info['count'] ?></big></td>
                    <td align="left"><a href="<?=$this->routeFromHere(array('action' => 'requests', 'status' => $status_id)) ?>"><?=$status_info['name'] ?></a></td>
                </tr>
            <? endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<div class="span4">
    <div class="floating">
        <h2>Search by Work Order ID</h2>

        <form action="<?=$this->routeFromHere(array('action' => 'requests')) ?>" method="get">
        <dl>
            <dt>Work Order ID:</dt>
            <dd><?=$this->formText('id') ?></dd>

            <dd>
            <?=$this->button(array(
                'type'      => 'submit',
                'icon'      => 'find',
                'text'      => 'Search',
                'class'     => 'small',
            )) ?>
            </dd>
        </dl>
        </form>
    </div>
    <p>&nbsp;</p>
    <div class="floating">
        <h2>Requests by Apartment</h2>
        
        <form action="<?=$this->routeFromHere(array('action' => 'requests')) ?>" method="get">
        <dl>
            <dt>Apartment or Property:</dt>
            <dd><?=$this->formSelect('asset_id', NULL, NULL, Asset::fetchSelect()) ?></dd>
            
            <dd>
            <?=$this->button(array(
                'type'      => 'submit',
                'icon'      => 'find',
                'text'      => 'Find Requests',
                'class'     => 'small',
            )) ?>
            </dd>
        </dl>
        </form>
    </div>
</div>

<div class="span4">
    <div class="floating">
        <h2>Other Functions</h2>
        
        <dl>
            <? if (\DF\Acl::getInstance()->isAllowed('create work orders')): ?>
            <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'edit', 'id' => 0)) ?>">Submit Work Order</a></dt>
            <dd>Manually submit a work order.</dd>
            <? endif; ?>

            <? if (\DF\Acl::getInstance()->isAllowed('manage work orders')): ?>
            <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'manage', 'action' => 'createmakeready')) ?>">Create Make Ready</a></dt>
            <dd>Manually create a make ready work order.</dd>
            <? endif; ?>

            <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'parts')) ?>">Manage Parts Inventory</a></dt>
            <dd>Manage the parts that are available for inclusion in maintenance requests.</dd>
            
            <dt><a href="<?=$this->route(array('module' => 'maintenance', 'controller' => 'workers')) ?>">Manage Workers</a></dt>
            <dd>Manage the workers that can be assigned to maintenance tasks.</dd>
        </dl>
    </div>
</div>