<?
if ($this->progress) $progress = ' ('.$this->progress['completed'].' of '.$this->progress['total'].' complete)';
$this->headTitle('Maintenance Request Detail'.$progress);
$csrf = \DF\Csrf::getToken();
?>
<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'resultset_previous',
        'text'      => 'Back to List',
        'href'      => $this->routeFromHere(array('action' => 'requests', 'id' => NULL, 'status' => $this->workorder->status)),
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'pencil',
        'href'      => $this->routeFromHere(array('action' => 'edit')),
        'text'      => 'Edit',
    )) ?>
<? if ($this->workorder->status == MaintenanceWorkorder::STATUS_UNPROCESSED): ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'delete',
        'text'      => 'Reject',
        'href'      => $this->routeFromHere(array('action' => 'setstatus', 'status' => MaintenanceWorkorder::STATUS_DELETED)),
        'class'     => 'negative confirm-delete',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'accept',
        'text'      => 'Accept',
        'href'      => $this->routeFromHere(array('action' => 'setstatus', 'status' => MaintenanceWorkorder::STATUS_ACCEPTED)),
        'class'     => 'positive',
    )) ?>
<? else: ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'delete',
        'text'      => 'Delete',
        'href'      => $this->routeFromHere(array('action' => 'delete')),
        'class'     => 'negative confirm-delete',
    )) ?>
<? endif; ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'printer',
        'href'      => $this->routeFromHere(array('action' => 'print')),
        'text'      => 'Print Work Order',
        'class'        => 'print_btn',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'money_add',
        'href'      => '#',
        'text'      => 'Post Charge',
		'id'		=> 'btn-charges',
    )) ?>
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'money',
        'href'      => '#',
        'text'      => 'Charge History',
        'id'        => 'btn-charge-history',
    )) ?>
</div>
<div class="wo_request_details">
<h2>Request Details</h2>
    
<dl>
    <dt>Work Order ID</dt>
    <dd><?=$this->workorder->id ?></dd>
    
    <dt>Apartment or Property:</dt>
    <dd><?=$this->workorder->asset->name ?></dd>
    
    <dt>Location of Issue:</dt>
    <dd><?=$this->workorder->location ?></dd>
    
    <dt>Type of Issue:</dt>
    <dd><?=$this->workorder->Category->name ?></dd>
    
    <dt>Origin of Request:</dt>
    <dd><?=$this->workorder->getOrigin() ?></dd>
    
    <dt>Description:</dt>
    <dd><?=$this->workorder->description ?></dd>
    
    <dt>Current Status:</dt>
    <dd><?=$this->workorder->getStatusText() ?></dd>
    
    <? if (trim($this->workorder->deferred_to) != ''): ?>
    <dt>Deferred to:</dt>
    <dd><?=$this->workorder->deferred_to ?></dd>
    <? endif; ?>
    
    <dt>Date Submitted:</dt>
    <dd><? if ($this->workorder->time_reported > 0) echo date('F j, Y g:ia', $this->workorder->time_reported); ?></dd>
    
    <? if ($this->workorder->time_started > 0): ?>
    <dt>Date Started:</dt>
    <dd><? echo date('F j, Y g:ia', $this->workorder->time_started); ?></dd>
    <? endif; ?>
    
    <? if ($this->workorder->time_done > 0): ?>
    <dt>Date Completed:</dt>
    <dd><? echo date('F j, Y g:ia', $this->workorder->time_done); ?></dd>
    <? endif; ?>

    <? if ($this->workorder->time_spent > 0): ?>
    <dt>Time Spent:</dt>
    <dd><? echo $this->workorder->time_spent; ?></dd>
    <? endif; ?>

    <dt>Done Comments:</dt>
    <dd><?php echo nl2br($this->workorder->notes); ?></dd>
</dl>

<h2>Submitter</h2>

<? if ($this->workorder->User): ?>
<div class="smallbuttons">
    <?=$this->button(array(
        'type'      => 'small',
        'icon'      => 'find',
        'href'      => $this->routeFromHere(array('action' => 'requests', 'user_id' => $this->workorder->User->id)),
        'text'      => 'All Requests by Submitter',
    )) ?>
</div>
<? endif; ?>
    
<dl>    
    <dt>Name:</dt>
    <dd><?=$this->workorder->submitter_name ?></dd>
    
    <dt>Phone Number:</dt>
    <dd><?=$this->workorder->submitter_phone_number ?></dd>
    
    <dt>E-mail Address:</dt>
    <dd><?=$this->mailto($this->workorder->submitter_email) ?></dd>
</dl>
</div>

<? if ($this->workorder->Tasks->count() > 0): ?>
    <h2>Maintenance Tasks</h2>
    <? $this->zebra('reset'); ?>

    <? foreach($this->workorder->Tasks as $task_index => $task): ?>
    <div id="task_<?=$task->id ?>" class="wo_task <?=$this->zebra() ?>">
        
        <big><?=$task->JobDescription->name ?></big><br />
        
        <div class="smallbuttons">
            <?=$this->button(array(
                'type'      => 'small',
                'icon'      => 'pencil',
                'text'      => 'Edit Task',
                'href'      => $this->routeFromHere(array('action' => 'edittask', 'task_id' => $task->id)),
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'icon'      => 'delete',
                'text'      => 'Delete Task',
                'href'      => $this->routeFromHere(array('action' => 'deletetask', 'task_id' => $task->id, 'csrf' => $csrf)),
                'class'     => 'negative confirm-delete',
                'title'     => 'Delete Task',
            )) ?>
            <?=$this->button(array(
                'type'      => 'small',
                'icon'      => 'printer',
                'text'      => 'Print Task',
                'href'      => $this->routeFromHere(array('action' => 'print', 'task_id' => $task->id)),
                'class'     => 'print_btn',
            )) ?>
        </div>
        
        <dl>
            <dt>Status:</dt>
            <dd><?=$task->getStatusText() ?></dd>
            
            <dt>Description:</dt>
            <dd><?=nl2br($task->description) ?></dd>
    
            <? if ($task->time_started > 0): ?>
            <dt>Date Started:</dt>
            <dd><? echo date('F j, Y g:ia', $task->time_started); ?></dd>
            <? endif; ?>
    
            <? if ($task->time_done > 0): ?>
            <dt>Date Completed:</dt>
            <dd><? echo date('F j, Y g:ia', $task->time_done); ?></dd>
            <? endif; ?>
    
            <? if ($task->time_spent > 0): ?>
            <dt>Time Spent:</dt>
            <dd><? echo $task->time_spent; ?></dd>
            <? endif; ?>
    
            <dt>Comments:</dt>
            <dd><?=nl2br($task->comments) ?></dd>
            
            <dt>Parts Used:</dt>
            <dd>
            <? if ($task->InventoryParts->count() > 0): ?>
                <? foreach($task->InventoryParts as $part): ?>
                <div><?=$part->name ?> (Part #<?=$part->part_number ?>) - <a class="confirm-delete" href="<?=$this->routeFromHere(array('action' => 'deletetaskpart', 'task_id' => $task->id, 'part_id' => $part->id)) ?>" title="remove this part">Remove</a></div>
                <? endforeach; ?>
            <? else: ?>
                No parts currently listed.
            <? endif; ?>
            </dd>
            <dd>
                <?=$this->button(array(
                    'class'     => 'btn_add_part',
                    'rel'       => $task->id,
                    'type'      => 'small',
                    'icon'      => 'add',
                    'href'      => '#',
                    'text'      => 'Add Part to Task',
                )) ?>
            </dd>
            
            <dt>Workers:</dt>
            <dd>
            <? if ($task->Workers->count() > 0): ?>
                <? foreach($task->Workers as $worker): ?>
                <div><?=$worker->name ?> - <a class="confirm-delete" href="<?=$this->routeFromHere(array('action' => 'deletetaskworker', 'task_id' => $task->id, 'worker_id' => $worker->id)) ?>" title="remove this worker">Remove</a></div>
                <? endforeach; ?>
            <? else: ?>
                No workers currently assigned.
            <? endif; ?>
            </dd>
            <dd>
                <?=$this->button(array(
                    'class'     => 'btn_add_worker',
                    'rel'       => $task->id,
                    'type'      => 'small',
                    'icon'      => 'add',
                    'href'      => '#',
                    'text'      => 'Add Worker to Task',
                )) ?>
            </dd>
        </dl>
    </div>
    <? endforeach; ?>
<? else: ?>
    <dl>
        <dt>Parts Used:</dt>
        <dd>
        <? if ($this->workorder->InventoryParts->count() > 0): ?>
            <? foreach($this->workorder->InventoryParts as $part): ?>
            <div><?=$part->name ?> (Part #<?=$part->part_number ?>) - <a class="confirm-delete" href="<?=$this->routeFromHere(array('action' => 'deleteworkorderpart', 'workorder_id' => $this->workorder->id, 'part_id' => $part->id)) ?>" title="remove this part">Remove</a></div>
            <? endforeach; ?>
        <? else: ?>
            No parts currently listed.
        <? endif; ?>
        </dd>
        <dd>
            <?=$this->button(array(
                'class'     => 'btn_add_part_wo',
                'rel'       => $this->workorder->id,
                'type'      => 'small',
                'icon'      => 'add',
                'href'      => '#',
                'text'      => 'Add Part',
            )) ?>
        </dd>
    
        <dt>Workers:</dt>
        <dd>
        <? if ($this->workorder->Workers->count() > 0): ?>
            <? foreach($this->workorder->Workers as $worker): ?>
            <div><?=$worker->name ?> - <a class="confirm-delete" href="<?=$this->routeFromHere(array('action' => 'deleteworkorderworker', 'workorder_id' => $this->workorder->id, 'worker_id' => $worker->id)) ?>" title="remove this worker">Remove</a></div>
            <? endforeach; ?>
        <? else: ?>
            No workers currently assigned.
        <? endif; ?>
        </dd>
        <dd>
            <?=$this->button(array(
                'class'     => 'btn_add_worker_wo',
                'rel'       => $this->workorder->id,
                'type'      => 'small',
                'icon'      => 'add',
                'href'      => '#',
                'text'      => 'Add Worker',
            )) ?>
        </dd>
    </dl>
<? endif; ?>

<div class="buttons">
    <?=$this->button(array(
        'type'      => 'link',
        'icon'      => 'add',
        'href'      => $this->routeFromHere(array('action' => 'edittask', 'task_id' => 0)),
        'text'      => 'Add New Task',
    )) ?>
</div>

<? /* Parts Dialogs */ ?>

<div id="dialog_add_part" class="dialog_form">
    
    <dl>
        <dt>Search for Part Name:</dt>
        <dd><input type="text" id="field-part-name" name="field-part-name" class="full-width" /></dd>
    </dl>
    
    <dl id="part-search-results"></dl>
    
    <form id="frm_add_part" action="<?=$this->routeFromHere(array('action' => 'addtaskpart')) ?>" method="post">
    <input type="hidden" id="task_id" name="task_id" value="0" />
    <input type="hidden" id="part_id" name="part_id" value="0" />
    </form>
</div>

<div id="dialog_add_worker" class="dialog_form">
    <form action="<?=$this->routeFromHere(array('action' => 'addtaskworker')) ?>" method="post">
    <input type="hidden" id="task_id" name="task_id" value="0" />
    
    <dl>
        <dt>Worker Name:</dt>
        <dd><?=$this->formSelect('worker_id', NULL, NULL, MaintenanceWorker::fetchSelect()) ?></dd>
    </dl>
    </form>
</div>

<div id="dialog_add_part_wo" class="dialog_form">
    <dl>
        <dt>Search for Part Name:</dt>
        <dd><input type="text" id="field-part-name-wo" name="field-part-name-wo" class="full-width" /></dd>
    </dl>

    <dl id="part-search-results-wo"></dl>

    <form id="frm_add_part_wo" action="<?=$this->routeFromHere(array('action' => 'addworkorderpart')) ?>" method="post">
    <input type="hidden" id="workorder_id" name="workorder_id" value="0" />
    <input type="hidden" id="part_id" name="part_id" value="0" />
    </form>
</div>

<div id="dialog_add_worker_wo" class="dialog_form">
    <form action="<?=$this->routeFromHere(array('action' => 'addworkorderworker')) ?>" method="post">
    <input type="hidden" id="workorder_id" name="workorder_id" value="0" />

    <dl>
        <dt>Worker Name:</dt>
        <dd><?=$this->formSelect('worker_id', NULL, NULL, MaintenanceWorker::fetchSelect()) ?></dd>
    </dl>
    </form>
</div>

<script type="text/javascript">
$(function() {
    $('#dialog_add_part, #dialog_add_part_wo').dialog({
        width: 600,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Close": function() { $(this).dialog('close'); }
        }
    });
    $('.btn_add_part').click(function() {
        $('#dialog_add_part form input[name="task_id"]').val($(this).attr('rel'));
        $('#dialog_add_part').dialog('option', 'title', 'Add Part').dialog('open');
        return false; 
    });
    $('.btn_add_part_wo').click(function() {
        $('#dialog_add_part_wo form input[name="workorder_id"]').val($(this).attr('rel'));
        $('#dialog_add_part_wo').dialog('option', 'title', 'Add Part').dialog('open');
        return false;
    });
    $('a.btn_choose_part').live('click', function() {
		var id = $(this).attr('rel');
		$("#frm_add_part input[name='part_id']").val(id);
		$("#frm_add_part").submit();
		return false;
	});
    $('a.btn_choose_part_wo').live('click', function() {
		var id = $(this).attr('rel');
		$("#frm_add_part_wo input[name='part_id']").val(id);
		$("#frm_add_part_wo").submit();
		return false;
	});
    
    var vTimeout;
	$('input#field-part-name').keyup(function() {
		clearTimeout(vTimeout);
		vTimeout = setTimeout('lookUpPart()', 300);
	});
        $('input#field-part-name-wo').keyup(function() {
		clearTimeout(vTimeout);
		vTimeout = setTimeout('lookUpPartWO()', 300);
	});
    
    $('#dialog_add_worker, #dialog_add_worker_wo').dialog({
        width: 600,
        height: 250,
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
            "Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });
    $('.btn_add_worker').click(function() {
        $('#dialog_add_worker form input[name="task_id"]').val($(this).attr('rel'));
        $('#dialog_add_worker').dialog('option', 'title', 'Add Worker').dialog('open');
        return false;
    });
    $('.btn_add_worker_wo').click(function() {
        $('#dialog_add_worker_wo form input[name="workorder_id"]').val($(this).attr('rel'));
        $('#dialog_add_worker_wo').dialog('option', 'title', 'Add Worker').dialog('open');
        return false; 
    });
});

function lookUpPart()
{
	$('#part-search-results').show();
	$('#part-search-results').html('<dd>Searching...</dd>');
	
	$.getJSON('<?=$this->routeFromHere(array('action' => 'findtaskpart')) ?>', { query: $('#field-part-name').val() }, function(data) {
		if (data.results_num == 0)
		{
			$('#part-search-results').html('<dd>No results found.</dd>');
		}
		else
		{
			var lookup_html = '';
			var lookup_link = '';
			
			for (var i=0; i<data.results.length; i++)
			{
				result = data.results[i];
				lookup_html += '<a class="btn_choose_part" rel="'+result.id+'" href="#">'+result.text+'</a><br>';
			}
			
			$('#part-search-results').html('<dd>'+lookup_html+'</dd>');
		}
	});
}
function lookUpPartWO()
{
	$('#part-search-results-wo').show();
	$('#part-search-results-wo').html('<dd>Searching...</dd>');

	$.getJSON('<?=$this->routeFromHere(array('action' => 'findtaskpart')) ?>', { query: $('#field-part-name-wo').val() }, function(data) {
		if (data.results_num == 0)
		{
			$('#part-search-results-wo').html('<dd>No results found.</dd>');
		}
		else
		{
			var lookup_html = '';
			var lookup_link = '';

			for (var i=0; i<data.results.length; i++)
			{
				result = data.results[i];
				lookup_html += '<a class="btn_choose_part_wo" rel="'+result.id+'" href="#">'+result.text+'</a><br>';
			}

			$('#part-search-results-wo').html('<dd>'+lookup_html+'</dd>');
		}
	});
}

$(document).ready(function(){
    $('.print_btn').click(function(e){
        e.preventDefault();
        window.open($(this).attr('href'));
    });
});
</script>

<? /* Charges Dialogs */ ?>

<div id="dialog-charges">
	<form action="<?=$this->routeFromHere(array('action' => 'postcharges')) ?>" method="post">

    <dl>
    	<dt>Amount of Charges:</dt>
        <dd><input type="text" name="amount" class="half-width" /></dd>
        
        <dt>Description:</dt>
        <dd><textarea name="description" class="full-width half-height"></textarea></dd>
        
        <dt>Charge to:</dt>
        <dd><?=$this->formRadio('charge_to', NULL, NULL, array(
			'individual' 	=> 'Individual Resident ('.$this->workorder->submitter_name.') Only',
			'apartment' 	=> 'All Residents in '.$this->workorder->asset->name,
		)) ?></dd>
    </dl>
    </form>
</div>

<div id="dialog-charge-history">
    <table class="datatable zebra" width="100%">
        <colgroup>
            <col width="20%" />
            <col width="20%" />
            <col width="60%" />
        </colgroup>
        <thead>
            <tr>
                <th>Trans ID</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        <? foreach($this->charges as $charge): ?>
            <tr>
                <td align="left"><?=$charge['id'] ?></td>
                <td align="left">$<?=number_format($charge['amount'], 2) ?></td>
                <td align="left"><?=$charge['memo'] ?></td>
            </tr>
        <? endforeach; ?>
        </tbody>
    </table>
</div>

<script type="text/javascript">
$(function() {
    $('#dialog-charges').dialog({
        width: 500,
        height: 350,
		title: 'Post Charges to Account',
        resizable: false,
        modal: true,
        autoOpen: false,
        buttons: {
			"Submit": function() { $(this).find('form').submit(); },
            "Close": function() { $(this).dialog('close'); }
        }
    });
	$('#btn-charges').click(function(e) {
		$('#dialog-charges').dialog('open');
        e.preventDefault();
		return false;
	});
    
    $('#dialog-charge-history').dialog({
        width: 500,
        height: 350,
		title: 'Charge History',
        resizable: false,
        modal: true,
        autoOpen: false
    });
	$('#btn-charge-history').click(function(e) {
		$('#dialog-charge-history').dialog('open');
        e.preventDefault();
		return false;
	});
});
</script>