<?
$this->headTitle('Submit Register Log');
?>
<h2>Select Register</h2>

<ul>
<? foreach($this->registers as $register_id => $register_name): ?>
    <li><a href="<?=$this->routeFromHere(array('register_id' => $register_id)) ?>"><?=$register_name ?></a></li>
<? endforeach; ?>
</ul>